script(type='text/javascript').
    window.analytics || (window.analytics = []), window.analytics.methods = ["identify", "track", "trackLink", "trackForm", "trackClick", "trackSubmit", "page", "pageview", "ab", "alias", "ready", "group", "on", "once", "off"], window.analytics.factory = function (t) {
        return function () {
            var a = Array.prototype.slice.call(arguments);
            return a.unshift(t), window.analytics.push(a), window.analytics
        }
    };for (var i = 0; window.analytics.methods.length > i; i++) {
        var method = window.analytics.methods[i];
        window.analytics[method] = window.analytics.factory(method)
    }window.analytics.load = function (t) {
        var a = document.createElement("script");
        a.type = "text/javascript", a.async = !0, a.src = ("https:" === document.location.protocol ? "https://" : "http://") + "d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/" + t + "/analytics.min.js";
        var n = document.getElementsByTagName("script")[0];
        n.parentNode.insertBefore(a, n)
    }, window.analytics.SNIPPET_VERSION = "2.0.8",
            window.analytics.load($UPP.localConfig.segmentio_token);
    window.analytics.page();
noscript
    iframe(src="//www.googletagmanager.com/ns.html?id=#{localConfig.tagmanager_token}", height="0", width="0", style="display:none;visibility:hidden")
script(type='text/javascript').
    (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', $UPP.localConfig.tagmanager_token);
script(type="text/javascript", src="//cdn.optimizely.com/js/524801012.js")
script(type="text/javascript").
    // script the google plus, buscamos el div con class g-plusone
    (function () {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
    })();