if localConfig.tagmanager_token
    noscript
        iframe(src="https://www.googletagmanager.com/ns.html?id=#{localConfig.tagmanager_token}", height="0", width="0", style="display:none;visibility:hidden")