/*
ALERTS CSS: Custom Stylesheet --- CSS ALERTAS: Hojas de estilo personalizadas

Upplication (http://www.upplication.com)
Copyright 2015
*/

/* ... ALERTS ... */

.alert {
  padding: 0;
  margin: 20px 0;
  border: 0 solid transparent;
  border-radius: 0;
}

.alert-info {
  color: #31708f;
  font-weight: 500;
  background-color: #d9edf7;
}

.alert span {
  font-weight: 600;
}

.alert i {
  padding: 15px 20px;
  background-color: #cbe6f4;
  margin-right: 10px;
}

/* anual two month free ALERT :: Pricing Plans Section*/

#anual .alert {
  min-height: 75px;
}

#anual .alert i {
  background-color: transparent;
}

#anual span i {
  color: #31708f;
}

#anual .alert span.fa-stack {
  position: relative;
  display: inline-block;
  width: 3em;
  height: 3em;
  line-height: 2em;
  vertical-align: middle;
}

#anual .alert span.fa-stack i.fa-money {
  color: #31708f;
  font-size: 30px;
  padding-left: 24px;
}

#anual .alert span.fa-stack i.fa-ban {
  color: #a1d2eb;
  opacity: .8;
  font-size: 70px;
  position: relative;
  bottom: 12px;
  left: -10px;
}

#anual .alert span.monthless {
  font-size: 18px;
  font-weight: 500;
  padding-left: 15px;
  vertical-align: sub;
  vertical-align: -webkit-baseline-middle;
}