/*
  FOOTER CSS: Custom Stylesheet --- CSS PI� DE P�GINA: Hojas de estilo personalizadas

Upplication (http://www.upplication.com)
Copyright 2015
*/

/* ... CLIENTS CAROUSEL :: Footer Common in all pages... */

.clientSection {
  /* GREY VERSION
    linear-gradient(to right, #80d2ad, #43a4cd);
    -webkit-linear-gradient(to right, #80d2ad, #43a4cd);
    background: repeat-x;*/
  /*background: url("/web/img/mate.png") repeat left top #9fa09f;*/
  /* background: #faf9f9; */
  background: rgba(234,255,245,1);
  /*background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(234,255,245,1)), color-stop(48%, rgba(149,255,206,0.9)), color-stop(100%, rgba(98,255,182,0.8)));*/
  background: -webkit-linear-gradient(-45deg, rgba(234,255,245,1) 0%, rgba(149,255,206,0.9) 48%, rgba(98,255,182,0.8) 100%);
  background: -ms-linear-gradient(-45deg, rgba(234,255,245,1) 0%, rgba(149,255,206,0.9) 48%, rgba(98,255,182,0.8) 100%);
  background: -webkit-linear-gradient(315deg, rgba(234, 255, 245, 1) 0%, rgba(149,255,206,0.9) 48%, rgba(98,255,182,0.8) 100%);
  background: linear-gradient(135deg, rgba(234,255,245,1) 0%, rgba(149,255,206,0.9) 48%, rgba(98,255,182,0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eafff5', endColorstr='#62ffb6', GradientType=1 );
  padding: 3em 0;
  margin-top: 5em;
}

#clientsCarousel .item {
  margin: 3px;
}

#clientsCarousel .item img {
  opacity: .5;
  display: block;
  width: auto;
  height: 40px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* ... "TRY IT FOR FREE 15 DAYS!" :: Footer Common in all pages... */

.pricing-plan {
  background: #fff;
  padding: 8em 0;
}

.pricing-plan-left h2 {
  color: #aaa;
  font-family: "Lato";
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: 2.58em;
}

.pricing-plan-left h2 em {
  color: #00c86b;
  font-weight: 400;
  font-style: normal;
}

.pricing-plan-left span {
  color: #aaa;
  padding: .8em 0 0 1.5em;
  display: block;
  margin: 0;
  font-weight: 500;
}

.pricing-plan-left {
  float: left;
  width: 70%;
}

.pricing-plan-right {
  float: right;
  text-align: left;
  width: 30%;
}

/* ... "FREE TRIAL" button ... */

a.price-btn {
  background: #00c86b;
  color: #fff;
  padding: 1.3em 2em;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.3em;
  letter-spacing: 0.03em;
}

a.price-btn:hover {
  background: #00e386;
}

/* ... CONTACT DATA :: PRE-FOOTER :: Footer Common in all pages... */

.servCliente {
  background-color: #b4bad2 !important;
  /*border-top: 1px solid #009750;*/
}

.servCliente ul {
  margin: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.servCliente ul li {
  padding: 20px 20px 15px 20px;
  display: inline-block;
}

.servCliente ul li a {
  font-size: 18px;
  color: #686e85;
  font-weight: 500;
}

.servCliente ul li a span {
  font-family: "Lato", sans-serif;
  font-weight: 600;
}

.servCliente ul li:first-child {
  padding-left: 0;
}

.servCliente ul li.tel {
  background-color: rgba(0,0,0,.1);
}

.servCliente ul li.mail {
  background-color: rgba(0,0,0,.05);
  margin-left: -4px !important;
}

.servCliente ul li.tel:hover {
  background-color: rgba(0,0,0,.2);
}

.servCliente ul li.mail:hover {
  background-color: rgba(0,0,0,.15);
}

/* ... FOOTER :: Footer Common in all pages... */

footer.page-footer {
  margin-top: 20px;
  padding-top: 20px;
  margin: 0;
  background-color: #c9cedf !important;
}

footer.page-footer.container {
  padding-top: 20px;
}

footer.page-footer h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #686e85;
  font-size: 15px;
}

footer.page-footer ul li {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  color: #00753e;
  padding: 5px 0;
  font-size: 14px;
}

footer.page-footer ul.footLinks li a {
  color: #555;
  font-size: 15px;
  letter-spacing: .03em;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  transform: translate(0px);
  -ms-transform: translate(0px);
  -webkit-transform: translate(0px);
}

footer.page-footer ul.footLinks li a:hover {
  color: #111;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  transform: translate(10px);
  -ms-transform: translate(10px);
  -webkit-transform: translate(10px);
}

footer.page-footer ul li.schedule-foot {
  background-color: #00a859;
  border-radius: 10px;
  text-align: center !important;
  margin-right: 20px;
}

footer.page-footer ul li.schedule-foot a {
  color: #002011;
  font-size: 13px;
  letter-spacing: .03em;
  padding: 5px;
}

footer.page-footer .footer-copyright {
  font-weight: 300;
  background-color: #373737  !important;
}

footer.page-footer .footer-copyright span {
  color: #00ca6b !important;
}

footer.page-footer .footer-copyright span i {
  padding-right: 5px;
}

footer.page-footer .footer-copyright em {
  font-style: normal;
  font-size: 14px;
}

footer.page-footer .footer-copyright i.fa-circle {
  font-size: 3px;
  padding: 0 10px;
  position: relative;
  bottom: 3px;
}

footer.page-footer .footer-copyright ul.rrss.right {
  float: right;
}

footer.page-footer .footer-copyright ul.rrss.right li {
  padding: 0 18px;
  display: inline-block;
  font-size: 10px;
  margin-right: -2px !important;
  margin-left: -2px !important;
}

footer.page-footer .footer-copyright ul.rrss.right li:first-child {
  padding: 0 21px;
}

footer.page-footer .footer-copyright ul.rrss.right li.facebook:hover {
  background-color: #3b5998;
}

footer.page-footer .footer-copyright ul.rrss.right li.twitter:hover {
  background-color: #55acee;
}

footer.page-footer .footer-copyright ul.rrss.right li.instagram:hover {
  background-color: #3f729b;
}

footer.page-footer .footer-copyright ul.rrss.right li.youtube:hover {
  background-color: #cd201f;
}

footer.page-footer .footer-copyright ul.rrss.right li.linkedin:hover {
  background-color: #0077b5;
}

footer.page-footer .footer-copyright ul.rrss.right li.google:hover {
  background-color: #dc4e41;
}

footer.page-footer .footer-copyright ul.rrss.right li a {
  color: #fff;
  font-size: 20px;
  text-align: center;
}

footer.page-footer .footer-copyright ul.rrss.right li a i {
  text-align: center;
}

footer.page-footer .footer-copyright ul.rrss.right li.google {
  padding-right: 18px !important;
}

footer.page-footer .footer-bottom {
  width: 100%;
  min-height: 150px;
  background-color: #2f2f2f;
}

footer.page-footer .footer-bottom ul {
  padding-top: 30px;
  text-decoration: none;
  text-align: center;
}

footer.page-footer .footer-bottom ul li {
  display: inline-block;
  padding: 20px;
  padding-bottom: 10px;
  opacity: .5;
}

footer.page-footer .footer-bottom ul li:hover {
  opacity: 1;
}

footer.page-footer .footer-bottom ul li:last-child {
  padding-right: 0;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 540px) {
  footer.page-footer .footer-bottom ul li {
    display: block;
    padding-right: 0;
  }
}

@media only screen and (max-width: 420px) {
  footer.page-footer .footer-copyright span,
  footer.page-footer .footer-copyright em {
    display: block;
  }

  footer.page-footer .footer-copyright em {
    padding-left: 20px;
  }

  footer.page-footer .footer-copyright i.fa-circle {
    display: none;
  }

  footer.page-footer .footer-bottom ul li {
    display: block;
    padding-right: 0;
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 350px) {
  footer.page-footer .footer-copyright ul.rrss.right li {
    padding: 23px 15px;
  }
}