/*
SLIDERS - IMAGES CAROUSELS CSS: Custom Stylesheet --- CSS CARRUSELES DE IMï¿½GENES : Hojas de estilo personalizadas

Upplication (http://www.upplication.com)
Copyright 2015
*/

/* ... SLIDERS ... */

.slider,
.slides {
  height: 600px !important;
  background-color: transparent !important;
}

.slider.middle-page-slider,
.slider.middle-page-slider .slides {
  height: 550px !important;
}

.slider.middle-page-slider .slides li {
  border-top: 7px solid #e9ebf2;
  border-bottom: 7px solid #e9ebf2;
}

.mainHead {
  color: #fff;
  position: absolute;
  z-index: 200;
  top: 10%;
  left: 10%;
  width: 70%;
  text-shadow: 1px 1px 1px #000;
}

.mainHead h1 {
  font-size: 2.4em;
  font-weight: 600;
}

.mainHead h1 span {
  color: #00c86b;
  font-weight: 600;
  padding-right: 5px;
}

.mainHead h2 {
  font-size: 1.4em;
  font-weight: 500;
}

.parallax-container {
  height: 300px;
}

.slider.middle-page-slider .app-ready {
  position: absolute;
  z-index: 100;
  width: 100%;
  top: -3px;
}

.slider.middle-page-slider .app-ready h4 {
  background-color: rgba(0,200,107,.2);
  color: #00c86b;
  font-size: 45px;
  font-weight: 800;
  text-transform: uppercase;
  padding: 10px 0;
  text-shadow: 2px 2px 0 rgba(0, 47, 25, 1), 1px -1px 0 #002f19, -1px 1px 0 #002f19, 1px 1px 0 #002f19;
}