/*
COMPANY (INDEX) CSS: Custom Stylesheet --- CSS COMPA��A (INDICE): Hojas de estilo personalizadas

Upplication (http://www.upplication.com)
Copyright 2015
*/

.plans-head h4.headTitles span {
  color: #cccccc;
}

/* ... "COMPANY BIO" INTRO ... */

#intro {
  padding-top: 4em;
}

#intro .plans-head {
  padding: 0;
}

#intro .company-intro p {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 30px;
  color: #555;
  font-weight: 400;
}

#intro .company-intro p a {
  font-weight: 500;
  text-decoration: underline;
}

#intro .company-intro p a:hover {
  color: #686e85;
}

#intro .company-intro p span {
  font-weight: 500;
}

/* ... "COMPANY BIO" TIMELINE ... */

#company {
  padding-top: 2em;
}

.timeline {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 4px;
  margin-left: -1.5px;
  background-color: #e9ebf2;
  bottom: -100px;
}

.timeline>li {
  position: relative;
  margin-bottom: 50px;
  min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
  content: " ";
  display: table;
}

.timeline>li:after {
  clear: both;
}

.timeline>li .timeline-panel {
  float: right;
  position: relative;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline>li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline>li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline>li .timeline-image {
  z-index: 100;
  position: absolute;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  border: 7px solid #e9ebf2;
  border-radius: 100%;
  text-align: center;
  color: #fff;
  background-color: #fff;
}

.timeline>li .timeline-image h4 {
  margin-top: 12px;
  font-size: 10px;
  line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline>li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: #686e85;
  font-family: "Lato", serif;
  font-size: 22px;
  font-weight: 400;
  padding: 15px 30px;
  background-color: #e9ebf2;
  text-align: right;
}

.timeline .timeline-heading span {
  padding: 4px 11px;
  background-color: #f1f1f1;
  border-radius: 50%;
  font-weight: 700;
  color: #aaa;
  font-size: 20px;
  position: relative;
  bottom: 4px;
  margin-right: 10px;
  border: 1px solid #cccccc;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
  margin-bottom: 0;
  text-align: left;
}

.timeline .timeline-body {
  padding: 15px 30px;
  background-color: #dee1ec;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
  margin-bottom: 0;
}

.timeline .timeline-body > p {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 25px;
  color: #555;
}

.timeline .timeline-body > p span,
.timeline .timeline-body > p a {
  font-weight: 500;
  color: #333;
}

.timeline .timeline-body > p a {
  text-decoration: underline;
}

.timeline .timeline-body > p a:hover {
  color: #686e85;
}

.appReady h4 {
  text-align: center;
  padding: 20px 0;
  margin: 0;
  position: relative;
  bottom: 130px;
  background-color: #fff;
  color: #00c86b;
  font-weight: 600;
  font-size: 36px;
}

.appReady h4 span {
  font-weight: 700;
}

.appReady h4 i {
  color: #fff;
}

.appReady h4 i:first-child {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  text-shadow: -4px -4px 0 #00c86b,
    1px -1px 0 #00c86b,
    -1px 1px 0 #00c86b,
    1px 1px 0 #00c86b;
}

.appReady h4 i:last-child {
  text-shadow: 4px 4px 0 #00c86b,
    1px -1px 0 #00c86b,
    -1px 1px 0 #00c86b,
    1px 1px 0 #00c86b;
}

@media (max-width:767px) {
  .timeline .timeline-heading:after {
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-right: 12px solid #e9ebf2;
    border-bottom: 12px solid transparent;
    position: absolute;
    left: 89px;
    top: 20px;
    clear: both;
    float: none;
    content: ' ';
    display: block;
  }

  .timeline .timeline-heading h4 {
    font-size: 20px !important;
  }
}

@media (min-width:768px) {
  .timeline:before {
    left: 50%;
    bottom: -100px;
  }

  .timeline > li .timeline-heading h4.subheading {
    text-align: right;
  }

  .timeline > li.timeline-inverted .timeline-heading h4.subheading {
    text-align: left;
  }

  .timeline>li {
    margin-bottom: 100px;
    min-height: 100px;
  }

  .timeline>li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0;
    background-color: #dee1ec;
    text-align: left;
  }

  .timeline>li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }

  .timeline>li .timeline-image h4 {
    margin-top: 16px;
    font-size: 13px;
    line-height: 18px;
  }

  .timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0;
    background-color: #dee1ec;
    text-align: left;
  }

  .timeline > li:not(.timeline-inverted) .timeline-panel:after,
  .timeline>li.timeline-inverted>.timeline-panel:before {
    width: 0;
    height: 0;
    position: absolute;
    clear: both;
    float: none;
    content: ' ';
    display: block;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
  }

  .timeline > li:not(.timeline-inverted) .timeline-panel:after {
    border-right: none;
    border-left: 12px solid #e9ebf2;
    left: 100%;
    top: 32px;
  }

  .timeline>li.timeline-inverted>.timeline-panel:before {
    border-right: 12px solid #e9ebf2;
    border-left: none;
    border-left: none;
    left: -12px;
    top: 32px;
  }
}

@media (min-width:992px) {
  .timeline>li {
    min-height: 150px;
  }

  .timeline>li .timeline-panel {
    padding: 0;
    background-color: #dee1ec;
  }

  .timeline>li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }

  .timeline>li .timeline-image h4 {
    margin-top: 30px;
    font-size: 18px;
    line-height: 26px;
  }

  .timeline>li.timeline-inverted>.timeline-panel {
    padding: 0;
    background-color: #dee1ec;
  }

  .timeline > li:not(.timeline-inverted) .timeline-panel:after {
    border-left: 12px solid #dee1ec;
    border-right: none;
    top: 70px;
  }

  .timeline>li.timeline-inverted>.timeline-panel:before {
    border-left: none;
    border-right: 12px solid #dee1ec;
    top: 70px;
  }
}

@media (min-width:1200px) {
  .timeline>li {
    min-height: 150px;
    margin-bottom: 50px;
  }

  .timeline > li .timeline-panel {
    padding: 0;
    background-color: #dee1ec;
  }

  .timeline>li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }

  .timeline>li .timeline-image h4 {
    margin-top: 40px;
    color: #00c86b;
  }

  .timeline>li.timeline-inverted>.timeline-panel {
    padding: 0;
    background-color: #dee1ec;
  }

  .timeline > li.timeline-inverted .timeline-panel h4 {
    text-align: left;
  }
}

/* timeline :: WORLD MAP */

.worldmap-section {
  width: 100%;
  border-top: 1px solid #e9ebf2;
  margin-top: 5em;
}

.worldmap-section .worldmap-bg {
  width: 70%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.worldmap-section .worldmap-bg .plans-head p {
  color: #adadad;
  line-height: 1em;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
  font-size: 1.2em;
}

.worldmap-section .worldmap-bg .plans-head p span {
  text-decoration: underline;
}

@media (max-width:1350px) {
  .worldmap-section .worldmap-bg {
    width: 90%;
  }
}

@media (max-width:980px) {
  .worldmap-section .worldmap-bg {
    width: 95%;
  }
}

@media (max-width:667px) {
  .worldmap-section .worldmap-bg {
    width: 100%;
  }
}