#content.prices, #content.showcase, section#showcase, #content.terms{
  & > section {
    & > * {
      @include container;
    }
  }

  section {
    &.bottom-space {
      padding-bottom: 4.0em;
    }

    &.min-top-space {
      padding-top: 1em;
    }

    &.min-bottom-space {
      padding-bottom: 1em;
    }

    &.darky {
      background-color: #eeeeee;
    }

    .container {
      margin: 0 auto;
      width: 90%;
      max-width: 71em;
      padding: 0 1em;
    }

    h2 {
      font-size: 2.4em;
      text-align: center;
      padding: 1.4em;
      line-height: 1.3em;
      font-weight: 300;
      padding: 0.5em 0;
    }
  }

  .hidden {
    display: none;
  }

  .no-pointer-events {
    pointer-events: none;
  }
}