footer
  background-color: $mine-shaft
  color: white
  li
    text-transform: uppercase
  a
    color: white
    text-decoration: none
  p
    color: $jungle-green

  hr
    width: 90%
    margin: 0 auto
    border-color: $dove-gray
    margin: 1em 0