.footer-container
  background-color: $mine-shaft
  padding-top: 1em

  footer
    font-size: 0
    > ul
      font-weight: 400
      > li
        margin-bottom: 2em
      span
        padding: .5em
        display: inline-block
        font-weight: 600
        font-size: .8rem


  
  color: white
  li li
    font-weight: 300
    width: 50%
    font-size: .9rem
    padding: .5em
    display: inline-block
    &:last-child
      margin-bottom: 1em
  a
    color: white
    text-decoration: none
  p
    color: $jungle-green

  hr
    width: 100%
    margin: 0 auto
    border-color: $dove-gray
    margin: 1em 0
  .sign
    font-size: 14px
    margin-top: 1em

//Tablet layout
$column-width: 12em
@include at-breakpoint($tablet-bp $desktop-columns)//($mobile-bp $tablet-columns $tablet-bp)
  .footer-container footer > ul > li
    width: 32%
    float: left
    margin-right: 2%
    text-transform: uppercase

    &:last-child
      margin-right: 0

    ul li
      font-size: 0.7rem