header
  @include container

//Mobile layout
  ///******************************************************
@include at-breakpoint($mobile-columns $tablet-bp)

  #content
    margin-top: 63px

  .header-container
    position: fixed
    z-index: 6
      
  #main-container #dark-layout
    display: none
  #main-container.slide-right #dark-layout
    #dark-layout
    background-color: rgba(0, 0, 0, 0.5)
    height: 100%
    position: absolute
    top: 0
    right: 0
    left: 0
    display: block


  .nav-basement-options a
    color: $mine-shaft

  header
    position: fixed
    width: 100%
    background-color: white

    .login
      position: absolute
      top: 1.3em
      right: 1.5em
      font-size: .9em
      font-weight: 400

    a.logo
      text-align: center
      display: block
      background: none

      img
        max-height: 2em
        margin: .3em


    .icon-list
      position: absolute
      left: .5em
      top: .5em
      font-size: 1.8em

      //+border-radius(9999px)

    .main-menu
      display: none

    a
      text-decoration: none


  //Common layout
  ///******************************************************


  
  

//Desktop layout
///******************************************************
@include at-breakpoint($tablet-bp $desktop-columns)
  .header-container    
    min-height: 4.5em
    position: relative
    .login
      display: none

  a.logo
    text-align: left
    padding-left: 1em

    img
      padding-top: .5em
      max-height: 2.8em

  .icon-list
    display: none

  #sections 
    li
      &:first-child
        display: none
  
      &.lang
        display: none

  .main-menu
    float: right
    margin-top: 1.1em
    margin-right: 1em
    a 
      color: $pastel-green
      font-size: .9em
    

    ul,li
      display: inline-block


    li
      margin-right: 1em

    #sections,
    #change-lang
      margin-right: 1.5em
    


    .change-lang
      li
        margin-right: .25em
        &:after
          padding-left: .55em
          content: '|'
          color: $pastel-green
        &:last-child:after
          content: ''

  

  .btn
    display: inline-block
    line-height: 1em
    padding: 1em