header
  .logo
    background: none
    img
      max-height: 2.7em

  .icon-list
    position: absolute
    left: 1em
    top: .8em
    font-size: 1.5em

    //+border-radius(9999px)

  .main-menu
    display: none

  @include container

  a
    text-decoration: none


