#content.home
  & > section
    & > div,
    & > article
      @include container

  ////Mobile layout
  ///******************************************************
  @include at-breakpoint($mobile-columns $desktop-bp)


    #register
      @include container
      background-image: url('/images/mobile/header.png')
      background-size: 100%

    input
      text-align: center

    .claim
      color: #fff
      h1
        margin-bottom: 0
    .video-container

      a
        font-size: 6em
        color: #fff
        +opacity(.7)

    //.col
    //  @include span-columns(2,8)
    //  @include nth-omega(4n)

  img.screenshot-devices
    width: 80%

  .so-available
    li
      text-align: center
      font-size: 3em

      @include span-columns(1,3)
      &:last-child
        @include span-columns(1 omega,3)

  .apps-list li
    +clearfix
    width: 90%
    margin: 0 auto
    margin-bottom: 2em

    img
      width: 100%
    background-color: $mine-shaft
    color: #FFF
    h1
      border-bottom: 1px solid $jungle-green
      color: $jungle-green
    a
      color: #FFF


  $column-width   : 12em
  //Tablet layout
  @include at-breakpoint($mobile-bp $tablet-columns $tablet-bp)


    .col
      @include span-columns(4,12)
      @include nth-omega(3n)

  $column-width   : 4.5em
  //Desktop layout
  ///******************************************************
  @include at-breakpoint($tablet-bp $desktop-columns)
    a.logo
      text-align: left

    #register
      min-height: 21em
      background-image: url('/images/header.png')
      background-size: 100%

      input
        @include span-columns(1,4)
        &:last-child
          @include span-columns(1 omega,4)


    #test-free
      display: none

    .col
      @include span-columns(4,16)
      @include nth-omega(4n)