$soft-green: #6ABA79;
$light-text: #49494A;

#content.home section#register.register-section {
  .claim {
    font-size: 1.4em;
    width: 500px;
  }

  .video-container {
    top: 180px;
    margin-left: -6em;

    a {
      font-size: 8em;
    }
  }

  form {
    float: none;
    padding-top: 160px;
    width: 100%;

    .announce {
      width: 24%;
      float: left;
      margin-top: -60px;

      &.arrow-up-black {
        margin-top: 5px;
        width: 26.5%;
        float: right;
      }
    }

    label {
      float: left;
      width: 24%;
      margin-right: 0.5%;

      input {
        text-align: center;
      }
    }

    input[type="submit"] {
      float: left;
      width: 26.5%;
    }

    p.tos {
      width: 26.5%;
      clear: both;
      float: right;
      color: white;
      margin-bottom: -10px;

      a {
        color: white;
      }
    }
  }
}

section#improve-sales {
  ul {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;

    li {
      margin: 1em 0;

      span {
        vertical-align: middle;

        &.tick {
          color: $soft-green;
          font-size: 4em;
          margin-right: 15px;
        }

        &:not(.tick) {
          font-size: 1.1em;
          font-weight: 400;
          color: $light-text;
        }
      }
    }
  }
}

section#optimize {
  ul {
    li {
      width: 30%;
      margin-right: 5%;
      float: left;
      color: $light-text;

      &:last-child {
        margin-right: 0;
      }
      
      &.multidevice h4 {
        margin-left: 30px;
        margin-top: 3px;
        position: absolute;
      }
      
      &.multidevice p {
        margin-top: 0;
      }

      span {
        &:after, &:before {
          font-size: 3.5em;
          color: $soft-green;
          vertical-align: bottom;
          margin-right: 15px;
          font-family: 'upplication';
        }

        &.customize:after {
          content: "\e610";
        }

        &.personal-tutor:after {
          content: "\e60f";
        }

        &.multidevice:after {
          font-size: 2.5em;
          content: "\e612";
          position: absolute;
          margin-top: -20px;
          margin-left: -10px;
        }

        span.icon-google_play {
          vertical-align: bottom;
          font-size: 2.5em;
          color: $soft-green;
          
          div {
            display: inline;
            color: $soft-green;

            &.path2, &.path3, &.path4 {
              margin-left: -.5em;
            }
          }
        }
      }

      h4 {
        font-size: 1.2em;
        text-transform: uppercase;
        font-weight: 600;
        border-bottom: 1px solid lighten($soft-green, 20%);
        width: auto;
        display: inline;
      }

      p {
        font-size: 0.85em;
        font-weight: 600;
        margin-top: 1.5em;
      }
      
    }
  }
}

section#help {
  .info {
    h1 {
      margin-top:2.5em;
      text-align: center;
    }
    
    p {
            
    }
  }
}

@media all and (max-width: 1200px) {
  section#help .info h1 {
    margin-top: 1em;
  }  
}

@media all and (max-width: 1023px) {
  #content.home #register .announce {
    margin: -60px 0 0 0 !important;

    &.arrow-up-black {
      margin-top: 15px !important;
    }
  }
  
  #content.home #register input {
    width: 100%;
    margin: 0;
  }
}

@media all and (max-width: 890px) {
  section#optimize {
    ul {
      li {
        margin: 3em 0 0 0;
        width: 100%;
        text-align: center;
        
        &.multidevice {
          span.multidevice {
            margin-left: -200px;            
          }
          
          p {
            text-align: center;
          }
        }
      }
    }
  }
}

@media all and (max-width: 764px) {
  section#help {
    img, div.info {
      width: 100%;
      float: none;
    }    
  }

  #content.home section#register.register-section {
    .claim {
      font-size: 1.4em;
      width: 100%;
      padding-top: 1em;
    }

    .video-container {
      top: 180px;
      margin-left: -6em;

      a {
        font-size: 8em;
      }
    }

    form {
      float: none;
      padding-top: 60px;
      width: 100%;

      .announce {
        width: 100%;
        float: none;
        margin-top: -70px;

        &.arrow-up-black {
          margin-top: 5px;
          width: 100%;
          float: none;
        }
      }

      label {
        float: none;
        width: 100%;
        margin-right: 0;

        input {
          text-align: center;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
      }

      input[type="submit"] {
        float: none;
        width: 100%;
      }

      p.tos {
        width: 100%;
        clear: both;
        float: none;
        color: white;
        margin-bottom: -10px;

        a {
          color: white;
        }
      }
    }
  }
}