@import "fonts";
@import "colors";
@import "mixins";
@import "variables";

@include at-breakpoint($tablet-bp $desktop-columns) {
  $column-width: 12em;
}

@include at-breakpoint($desktop-bp $desktop-columns) {
  $column-width: 7em;
}

#content.terms {
  .margin {
    margin-top: 3% !important;
    margin-bottom: 3% !important;
  }
  h1 {
    margin-top: 2%;
  }
  h2 {
    margin-top: 2%;
  }
  p {
    color: #666;
    text-align: justify;
  }
  .container h3 {
    margin-top: 0.5%;

  }

}


