//Breakpoints, Font-sizes, etc.
$mobile-font-size: 14px
$mobile-bp: 480px
$mobile-columns: 8

$tablet-font-size: 14px //16px
$tablet-bp: 480px //768px
$tablet-columns: 8 //12

$desktop-font-size: 14px
$desktop-bp: 768px //1280px
$desktop-columns: 14

$total-columns  : $mobile-columns
$column-width   : 8em
$gutter-width   : 1em
$grid-padding   : 1em