/**
 ******************************************************
 ******************************************************
 * {LESS} :: ONO (Vodafone) :: (upplication, 2016)
 ******************************************************
  *****************************************************
 */

@import "../base/_samples.less";
@import "_header-ono.less";
@import "../base/_materialize-resets.less";
@import "../base/_mediaqueries.less";


/* ... Colors ... */

// Vodafone main color
@vodafone:  #e60000;
@vodafone-hover: darken(@vodafone, 8%);

@main-green: @vodafone;
@accept-btn-hover: @vodafone-hover;

@white: #ffffff;
@darkest-lilac: #1e1f26;

/* ... GENERAL FONTS ... */

@import url('https://fonts.googleapis.com/css?family=Lato:100,400,700,900|Raleway:100,400,600,700,900|Roboto+Slab:100,400,700');

html,
body {
  font-size: 100%;
  background: @white;
}

// Main Caontainer with custom fonts
.outer-wrap {
  font-family: "Lato", sans-serif;
}

/* ... TEXT SELECTED COLOR ... */

/* Safari */
::selection {
  color: @white;
  background: @vodafone;
}
/* Firefox */
::-moz-selection {
  color: @white;
  background: @vodafone;
}

/* ... ANIMATIONS ... */

body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

/* ... MAIN HEADERS (SECTIONS) ... */

.plans-head {
  padding: 0;

  .headTitles {
    font-family: "Raleway", sans-serif;
    font-size: 2em;
    font-weight: 400;
    margin: 0;
    padding: 0;

    &.noMargBot {
      margin-bottom: 0;
    }
  }
}

/* ... MARGIN & PADDING ... */

.padTop50 {
  padding-top: 50px;
}

/* ... Materialize reset ... */

.input-field i.prefix.active {
  color: @vodafone !important;
}


/**
 ****************************************************************
 * (components) Resets for ONO View :: (upplication, 2016)
 ****************************************************************
 */

/* ... SHOWCASE :: "Apps for all types of business" Section :: Home view ... */

#tabs {
  // Hidden BTN to launch register modal dialog in this view
  .btn-upp {
    display: none;
  }
}


/* ... MEDIA QUERIES ... */

@media (max-width: 480px) {
  .headTitles,
  h4.headTitles,
  h2.headTitles {
    font-size: 1.5em;

    p {
      font-size: 1em;
    }
  }
}

// HEIGHT

@media only screen and (max-height: 667px) {
  .plans-head {
    padding: 0;
  }
}

