@font-face {
	font-family: 'upplication';
	src:url('fonts/upplication.eot?-ikboa6');
	src:url('fonts/upplication.eot?#iefix-ikboa6') format('embedded-opentype'),
		url('fonts/upplication.woff?-ikboa6') format('woff'),
		url('fonts/upplication.ttf?-ikboa6') format('truetype'),
		url('fonts/upplication.svg?-ikboa6#upplication') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'upplication';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-google_play .path1:before {
	content: "\e613";
}
.icon-google_play .path2:before {
	content: "\e614";
	margin-left: -0.9150390625em;
}
.icon-google_play .path3:before {
	content: "\e615";
	margin-left: -0.9150390625em;
}
.icon-google_play .path4:before {
	content: "\e616";
	margin-left: -0.9150390625em;
}

.icon-user:before {
	content: "\e60f";
}

.icon-diamond:before {
	content: "\e610";
}

.icon-check:before {
	content: "\e611";
}

.icon-appstore:before {
	content: "\e612";
}

.icon-lifestyle:before {
	content: "\61";
}

.icon-online-store:before {
	content: "\62";
}

.icon-gym:before {
	content: "\63";
}

.icon-restaurants:before {
	content: "\64";
}

.icon-music:before {
	content: "\65";
}

.icon-personal-app:before {
	content: "\66";
}

.icon-professional-services:before {
	content: "\67";
}

.icon-bar-and-coffee:before {
	content: "\68";
}

.icon-delivery:before {
	content: "\69";
}

.icon-art:before {
	content: "\6a";
}

.icon-health:before {
	content: "\6b";
}

.icon-events:before {
	content: "\6c";
}

.icon-shield:before {
	content: "\6d";
}

.icon-house:before {
	content: "\6e";
}

.icon-media:before {
	content: "\f1";
}

.icon-tourism:before {
	content: "\6f";
}

.icon-rss:before {
	content: "\70";
}

.icon-question:before {
	content: "\71";
}

.icon-markets:before {
	content: "\e600";
}

.icon-support:before {
	content: "\e601";
}

.icon-web-responsive:before {
	content: "\e602";
}

.icon-signature:before {
	content: "\e603";
}

.icon-ads:before {
	content: "\e604";
}

.icon-push:before {
	content: "\e605";
}

.icon-laptop:before {
	content: "\e606";
}

.icon-stats:before {
	content: "\e607";
}

.icon-play:before {
	content: "\e608";
}

.icon-list:before {
	content: "\e609";
}

.icon-html5:before {
	content: "\e60a";
}

.icon-android:before {
	content: "\e60b";
}

.icon-apple:before {
	content: "\e60c";
}

.icon-tutor:before {
	content: "\f0d7";
}

.icon-arrow-right:before {
	content: "\e60d";
}

.icon-arrow-left:before {
	content: "\e60e";
}

