/**
 ******************************************************
 ******************************************************
 * {LESS} :: COMMON :: (upplication, 2016)
 ******************************************************
  *****************************************************
 */

@import "_variables.less";
@import "_mixins.less";
@import "_mediaqueries.less";
@import "_materialize-reserts.less";
@import "_sliders.less";
@import "_modals.less";
@import "_alerts.less";
@import "_register.less";
@import "_header.less";
@import "_footer.less";
@import "_cookies.less";


@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Raleway:100,200,300,400,500,600,700,800,900|Roboto+Slab:100,400,700);


/* ... GENERAL FONTS ... */

html,
body {
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  background: @white;
}

/* ... ANIMATIONS ... */

body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.hover-anim,
.hover-anim li {
  -webkit-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.total-fix {
  margin: 0 !important;
  padding: 0 !important;
}

/* ... TRANSFORMS ... */

.skew-right {
  -webkit-transform: skew(0deg, -3deg);
  -ms-transform: skew(0deg, -3deg);
  transform: skew(0deg, -3deg);
}

.skew-left {
  -webkit-transform: skew(0deg, 3deg);
  -ms-transform: skew(0deg, 3deg);
  transform: skew(0deg, 3deg);
}

/* ... to Fix Upplication Icons position ... */

i.icon {
  position: relative;
  top: 2px;
  font-weight: 100;
}

/* ... to CENTER Blocks ... */

.centered {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* ... to CENTER Images ... */

.centerImg img,
.center-img img {
  .centered;
}

/* ... to add BOX SHADOW ... */

.box-shadow {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  -ms-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  -o-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}


/* ... TEXT SELECTED COLOR ... */

::selection {
  background: @main-green;
  color: @white;
}

::-moz-selection {
  background: @main-green;
  color: @white;
}

/* ... to add Shadow Hover Effect in images ... */

img.materialboxed:hover {
  .box-shadow;
  .anim-all-250;
}

/* ... MAIN HEADERS (SECTIONS) ... */

.headTitles,
h4.headTitles,
h2.headTitles {
  color: @darkest-lilac;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 500;
  line-height: 35px;
  margin: 1em 0;
  padding: 0.5em;
  
  span {
    color: @medium-lilac;
  }
}

@media all and (max-width: 480px) {
  .headTitles,
  h4.headTitles,
  h2.headTitles {
    font-size: 1.8em;
    margin: 0;
  }
}

h4:not(.head-terms).headTitles + p,
.plans-head p {
  color: @medium-lilac;
  line-height: 1em;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
  font-size: 1.2em;
}

.headTitles.noMargBot {
  margin-bottom: 0;
}

/* ... PADDING ... */

.sect100 {
  padding: 100px 0;
}

.padTop50 {
  padding-top: 50px;
}

.padTop30 {
  padding-top: 30px;
}

.padBot10 {
  padding-bottom: 10px;
}

.padBot30 {
  padding-bottom: 30px;
}

.padBot50 {
  padding-bottom: 50px;
}

/* ... MARGIN ... */

.margTop30 {
  margin-top: 30px;
}

.marBot50 {
  margin-bottom: 50px;
}

.marBot10 {
  margin-bottom: 10px;
}

.marBot100 {
  margin-bottom: 100px;
}

/* ... UPP MAIN BUTTON ... */

a.btn-upp,
button.btn-upp {
  background-color: @accept-btn;
  color: @white;
  border-radius: 0;
}

a.btn-upp:hover,
button.btn-upp:hover {
  background-color: @accept-btn-hover;
  color: @white;
}

/* ... to add Block styles... */

.block-btn {
  display: block;
  width: 100%;
  padding: 12px 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: .02em;
}

/* ... FONT WEIGHTS ... */

.strong500 {
  font-weight: 500 !important;
}

/* ... BORDERS ... */

.display-none {
  display: none;
}

.border-bottom {
  border-bottom: 1px solid @bg-lilac-light;
}

/* ... BORDER DIV ... */

.spacer-border-grey {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid @bg-lilac-light;
}


/* ... DIAGONAL BLOCK LAYOUT to Home & Microlandings views ... */

.dippah {
  position: relative;
  bottom: 47px;
  z-index: 100;
  width: 100%;
  height: 90px;
  background-color: white;
}

@media only screen and (max-width: 768px) {
  .dippah {
    display: none;
  }
}


/**
 ******************************************************
 * (component) :: TABS :: (upplication, 2016)
 ******************************************************
 */

.tabs {
  line-height: 70px;

  // each Tab
  .tab {
    text-transform: inherit;

    a {
      color: @main-green;
      font-weight: 600;
      font-size: 25px;
      line-height: 25px;

      &:hover {
        color: @accept-btn-hover;
      }

      em {
        font-style: normal;
      }
    }
  }

  // each Tab underline
  .indicator {
    background-color: @main-green;
    bottom: 10px;

    &:after {
      left: 45%;
    }
  }
}

/**
 ****************************************************************
 * (component) :: THREE CARDS GRID layout  :: (upplication, 2016)
 ****************************************************************
 */

// Used in "Home" (index), "About Us" (Team) & "Showcases" (Testimonials) pages
.about-grids {
  margin-top: 1.5em;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  background: @bg-lilac-light;

  &.row {
    .col {
      padding: 0;
    }
  }

  .about-grid {

    // TEXT area
    .about-grid-info {
      padding: 2em 2.5em;

      h4 {
        font-family: "Lato", sans-serif;
        margin: 0 0 1.5em 0;
        padding: 0 0 0.5em 0;
        font-size: 1.3em;
        font-weight: 400;
        letter-spacing: 0.03em;
        text-decoration: none;

        span {
          font-weight: 600;
        }
      }

      p {
        font-size: 18px;
        line-height: 25px;
        font-weight: 400;
        text-align: justify;

        &.grid-link {
          margin-bottom: 0;

          a {
            font-weight: 400;

            i {
              top: 1px;
              font-size: 14px;
              padding-left: 5px;
              -webkit-transition: padding 0.3s;
              -moz-transition: padding 0.3s;
              -ms-transition: padding 0.3s;
              -o-transition: padding 0.3s;
              transition: padding 0.3s;

              &:before {
                .rotate-180;
              }
            }

            &:hover {
              i {
                padding-left: 20px;
              }
            }
          }
        }
      }
    }

    // PICs & VIDEO areas
    .about-grid-pic {

      img {
        width: 100%;
      }

      // to preload youtube iframes
      .video-container {
        img {
          width: 100%;
          position: absolute;
          top: -17%;
        }
      }
    }

    // Backgrounds Colors
    &.about-grid1 {
      background: @main-green;

      .about-grid-info {
        p,
        h4,
        a {
          color: @white;
        }
        h4 {
          border-bottom: 1px solid @white;
        }
      }
    }
    &.about-grid2 {
      background: @bg-lilac-light;

      .about-grid-info {
        p,
        h4,
        a {
          color: @darkest-lilac;
        }
        h4 {
          border-bottom: 1px solid @darkest-lilac;
        }
      }
    }
  }
}

// Media Queries to change the Blocks
@media (min-width: 769px) and (max-width: 1280px) {
  .about-grids {
    .about-grid.about-grid1,
    .about-grid.about-grid2 {
      width: 100%;

      .about-grid-pic,
      .about-grid-info {
        width: 50%;
      }
    }

    .about-grid.about-grid1 {
      .about-grid-info {
        float: left;
      }
      .about-grid-pic {
        float: right;
      }
    }

    .about-grid.about-grid2 {
      .about-grid-info {
        float: right;
      }
      .about-grid-pic {
        float: left;
      }
    }
  }
}

@media (max-width: 980px) {
  .about-grids {
    .about-grid {
      .about-grid-info {
        padding: 2.3em 2.5em 0.1em 2.5em;

        h4 {
          margin-bottom: 15px;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .about-grids {
    .about-grid {
      .about-grid-info {
        padding: 1.5em 2em 0.1em 2em;

        p {
          font-size: 17px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .about-grids {
    .about-grid.about-grid1,
    .about-grid.about-grid2,
    .about-grid,
    .col.m4 {
      width: 100%;

      .about-grid-pic,
      .about-grid-info {
        width: 100%;
        float: left;
      }
      .about-grid-info {
        padding: 2.3em 2.5em 2.3em 2.5em;
      }
    }
  }
}

@media (max-width: 480px) {
  .about-grids {
    .about-grid {
      .about-grid-info {
        p {
          .font-mobile;
        }
      }
    }
  }
}

/**
 ****************************************************************
 * (component) :: vertical TIMELINE  :: (upplication, 2016)
 ****************************************************************
 */

.timeline-section {
  border-top: 1px solid @header-border;
  padding-top: 2em;
  padding-bottom: 0;

  .row:last-child {
    margin-bottom: 0;
  }

  .timeline {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 40px;
      width: 4px;
      margin-left: -1.5px;
      background-color: @bg-lilac-light;
      bottom: -100px;
    }

    // IMAGE Panel Card
    .timeline-image {
      z-index: 100;
      position: absolute;
      left: 0;
      width: 80px;
      height: 80px;
      margin-left: 0;
      border: 7px solid @bg-lilac-light;
      border-radius: 100%;
      text-align: center;
      color: @white;
      background-color: @white;
    }

    // TEXT Panel Cards
    .timeline-panel {
      float: right;
      position: relative;
      width: 100%;
      padding: 0 20px 0 100px;
      text-align: left;

      // to add the corner pointer
      &:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
      }

      // Heading Title
      .timeline-heading {
        .subheading {
          text-transform: none;
          margin-bottom: 0;
          margin-top: 0;
          color: @dark-lilac;
          font-family: "Raleway", serif;
          font-size: 28px;
          font-weight: 500;
          padding: 15px 30px;
          background-color: @bg-lilac-light;
          text-align: center;

          // heading titles Numbers
          span {
            font-family: 'Lato', sans-serif;
            padding: 4px 11px;
            background-color: @white;
            border-radius: 50%;
            font-weight: 700;
            color: @medium-lilac;
            font-size: 20px;
            position: relative;
            bottom: 4px;
            margin-right: 10px;
            border: 1px solid @medium-lilac;
          }
        }
      }

      // Text Area
      .timeline-body {
        padding: 15px 30px;
        background-color: @header-border;
      }
      .timeline-body > ul,
      .timeline-body > p {
        margin-bottom: 0;
      }
      .timeline-body > p {
        font-size: 18px;
        padding-bottom: 12px;
        color: @dark-lilac;

        span {
          font-weight: 500;
        }

        b {
          font-weight: 600;
        }

        a {
          i {
            top: 1px;
            font-size: 14px;
            padding-left: 5px;
            -webkit-transition: padding 0.3s;
            -moz-transition: padding 0.3s;
            -ms-transition: padding 0.3s;
            -o-transition: padding 0.3s;
            transition: padding 0.3s;

            &:before {
              .rotate-180;
            }
          }

          &:hover {
            color: @black;
            i {
              padding-left: 20px;
            }
          }
        }
      }
    }
  }

  .timeline > li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;

    // to add a clearfix
    &:before {
      content: " ";
      display: table;
    }

    &:after {
      content: " ";
      display: table;
      clear: both;
    }
  }
}

/* MEDIA QUERIES for TIMELINE Sections */

// Tablets & less for TIMELINE Sections
@media (max-width:767px) {
  .timeline-section {
    .timeline {
      .timeline-panel {
        // Heading Title
        .timeline-heading {
          &:after {
            width: 0;
            height: 0;
            border-top: 12px solid transparent;
            border-right: 12px solid @bg-lilac-light;
            border-bottom: 12px solid transparent;
            position: absolute;
            left: 89px;
            top: 20px;
            clear: both;
            float: none;
            content: ' ';
            display: block;
          }
        }
      }
    }
  }
}

// Smartphones
@media (max-width:580px) {
  .timeline-section {
    .timeline {
      .timeline-panel {
        .timeline-heading {
          .subheading {
            font-size: 22px;

            span {
              font-size: 18px;
              bottom: 2px;
            }
          }
        }
      }
    }
  }
}

@media (max-width:480px) {
  .timeline-section {
    .timeline {
      .timeline-panel {
        .timeline-heading {
          .subheading {
            font-size: 20px;
            text-align: left;
            padding: 15px;

            span {
              bottom: 0;
            }
          }
          .timeline-body > p {
            .font-mobile;
          }
        }
      }
    }
  }
}

// Big Screens Devises for TIMELINE Sections
@media (min-width:768px) {
  .timeline-section {
    .timeline {
      &:before {
        left: 50%;
        bottom: -100px;
      }

      .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
      }

      .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
      }
    }

    .timeline > li {
      margin-bottom: 100px;
      min-height: 100px;

      &:not(.timeline-inverted) {
        .timeline-panel {
          &:after {
            width: 0;
            height: 0;
            border-top: 12px solid transparent;
            border-bottom: 12px solid transparent;
            border-right: none;
            border-left: 12px solid @bg-lilac-light;
            top: 32px;
            left: 94.6%;
            position: absolute;
            clear: both;
            float: none;
            content: ' ';
            display: block;
          }
        }
      }

      &.timeline-inverted {
        .timeline-panel {
          float: right;
          padding: 0 30px 20px 20px;
          text-align: left;

          &:before {
            width: 0;
            height: 0;
            border-top: 12px solid transparent;
            border-bottom: 12px solid transparent;
            border-right: 12px solid @bg-lilac-light;
            border-left: none;
            top: 32px;
            left: 2.2%;
            position: absolute;
            clear: both;
            float: none;
            content: ' ';
            display: block;
          }
        }
      }
    }
  }
}

@media (min-width:992px) {
  .timeline-section {
    .timeline {
      .timeline-panel {
        padding: 0 20px 20px;
      }

      .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
      }
    }

    .timeline > li {
      min-height: 150px;

      &.timeline-inverted {
        .timeline-panel {
          padding: 0 20px 20px;

          &:before {
            border-right: 12px solid @header-border;
            border-left: none;
            top: 65px;
            left: 1.7%;
          }
        }
      }

      &:not(.timeline-inverted) {
        .timeline-panel {
          &:after {
            border-right: none;
            border-left: 12px solid @header-border;
            top: 65px;
            left: 95.6%;
          }
        }
      }
    }
  }
}

@media (min-width:1200px) {
  .timeline-section {
    .timeline > li {
      min-height: 200px;

      .timeline-panel {
        padding: 15px;
        background-color: @header-border;
      }

      .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
      }

      &:not(.timeline-inverted) {
        .timeline-panel {
          &:after {
            top: 68px;
            border-right: none;
            border-left: 12px solid @header-border;
            left: 100%;
          }
        }
      }

      &.timeline-inverted {
        .timeline-panel {
          padding: 15px;
          background-color: @header-border;

          &:before {
            top: 68px;
            border-right: 12px solid @header-border;
            border-left: none;
            left: -2.3%;
          }
        }
      }
    }
  }
}



/**
 ****************************************************************
 * (component) :: MAIN TOP TITLE (H1 & H2)  :: (upplication, 2016)
 ****************************************************************
 */

/* ... MAIN TITLE & SUBTITLE (main text just over the top slider) ... */

.mainHead {
  color: @white;
  position: absolute;
  z-index: 200;
  top: 75px;
  left: 10%;
  width: 70%;
  text-shadow: 1px 1px 1px @black;

  // Second Header in Top Slider (Home view)
  h2 {
    font-size: 2.6em;
    text-transform: uppercase;
    font-weight: 600;
    background: rgba(0,0,0,.7);
    display: inline-block;
    line-height: 1.1em;
    padding-left: 10px;
    padding-right: 0;
    position: relative;

    &:before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 45px 10px;
      border-color: transparent transparent rgba(0,0,0,.7) transparent;
      position: absolute;
      left: -10px;
    }

    &:after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 45px 28px 0 0;
      border-color: rgba(0,0,0,.7) transparent transparent transparent;
      position: absolute;
      right: -28px;
      top: 0;
    }

    // Changing Text with animation effect
    .typed-effect {
      display: inline-block;

      span {
        display: inline-block;
      }
    }

    span {
      color: @main-green;
      font-weight: 600;
      padding-right: 5px;
    }
  }

  // Main Header in Top Slider (Home view)
  h1 {
    font-size: 1.6em;
    font-weight: 500;

    span {
      background-color: rgba(0,0,0,.7);
      display: table;
      padding: 5px;
      margin: 10px 0;
      max-width: 450px;

      // First row main clain text
      &.intro-2a {
        &:before {
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 0 66px 10px;
          border-color: transparent transparent rgba(0,0,0,.7) transparent;
          position: relative;
          left: -15px;
          top: -34px;
        }
      }

      // Second row main clain text
      &.intro-2b {
        margin-left: -6px;

        &:after {
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 39px 14px 0 0;
          border-color: rgba(0,0,0,.7) transparent transparent transparent;
          position: relative;
          right: -20px;
          top: 35px;
        }
      }
    }
  }
}




/* ... Media Queries :: Three Cards video-image layout :: WIDTH */

@media only screen and (max-width : 801px) {
  #team .about-grids .col.m4.about-grid {
    width: 100% !important;
  }

  /*
  .row .col.m4:not(.each-suggestions) {
    width: 100% !important;
  }
  */
}

/* ... Media Queries :: Three Cards video-image layout :: HEIGHT */

@media only screen and (max-height: 667px) {
  #about {
    padding-top: 0;
  }
}


/* ... Media Queries :: Three Cards video-image layout :: WIDTH */

@media only screen and (max-width: 1600px) {
  .register-form {
    right: 11% !important;
  }

  .mainHead h1 span.intro-2b:after {
    border-width: 34px 14px 0 0;
    top: 30px;
  }
}

@media only screen and (max-width: 1380px) {
  .mainHead h2 {
    font-size: 2.5em;
  }

  .mainHead h2:before {
    top: -1px;
  }
}

@media only screen and (max-width: 1325px) {
  .mainHead h2 {
    font-size: 2.4em;
  }

  .mainHead h2:after {
    border-width: 42px 28px 0 0;
  }
}

@media only screen and (max-width: 1280px) {
  .mainHead {
    left: 60px;
    width: 90%;
  }

  .mainHead h2:before {
    border-width: 0 0 43px 10px;
  }
}

@media only screen and (max-width: 1180px) {
  .mainHead h1 {
    padding-top: 10px;
  }
}

@media only screen and (max-width: 1001px) {
  .mainHead h2 {
    font-size: 2.2em;
  }

  .mainHead h2:before {
    border-width: 0 0 39px 10px;
  }

  .mainHead h2:after {
    border-width: 37px 28px 0 0;
  }
}

@media only screen and (max-width: 980px) {
  .mainHead {
    h1 {
      font-size: 1.4em;
      max-width: 350px;
    }
  }
}

@media only screen and (max-width: 940px) {
  .mainHead h2 {
    font-size: 2em;
  }

  .mainHead h2:before {
    border-width: 0 0 36px 10px;
  }

  .mainHead h2:after {
    border-width: 35px 28px 0 0;
  }
}

@media only screen and (max-width: 885px) {
  .mainHead h2 {
    font-size: 1.9em;
  }

  .mainHead h2:before {
    border-width: 0 0 34px 10px;
  }

  .mainHead h2:after {
    border-width: 33px 28px 0 0;
  }

  .mainHead h1 {
    font-size: 1.4em;
  }

  .mainHead h1 span.intro-2b:after {
    border-width: 34px 14px 0 0;
    top: 30px;
  }
}

@media only screen and (max-width: 860px) {
  .mainHead {
    max-width: 300px;

    h1 {
      font-size: 1.4em;
    }
  }
}

@media only screen and (max-width: 830px) {
  .mainHead h2 {
    font-size: 1.8em;
  }

  .mainHead h2:before {
    border-width: 0 0 32px 10px;
  }

  .mainHead h2:after {
    border-width: 31px 28px 0 0;
  }

  .mainHead h1 {
    font-size: 1.2em;
  }

  .mainHead h1 span.intro-2a:before {
    border-width: 0px 0 30px 10px;
    top: -26px;
  }

  .mainHead h1 span.intro-2b:after {
    border-width: 31px 14px 0 0;
    top: 27px;
    right: -19px;
  }
}

@media only screen and (max-width: 768px) {
  .team-header {
    margin-top: 6em;
  }

  .mainHead {
    top: 90px;
    width: 89%;
    left: 30px;
  }

  .mainHead h2 {
    font-size: 1.7em;
    margin: 0;
    padding-bottom: 5px;
  }

  .mainHead h2 span {
    display: inline-block;
    margin-top: 5px;
  }

  .mainHead h2:before {
    border-width: 0 0 40px 16px;
    left: -16px;
  }

  .mainHead h2:after {
    border-width: 39px 19px 0 0;
    right: -19px;
  }

  .mainHead h1 {
    font-size: 1.3em;
    margin: 0;
    max-width: inherit;
  }

  .mainHead h1 span {
    display: inline-block;
  }

  .mainHead h1 span.intro-2b {
    margin-left: -5px;
  }
}

@media only screen and (max-width: 720px) {
  .mainHead h2 {
    font-size: 1.5em;
    margin: 0;
    padding-bottom: 5px;
  }

  .mainHead h2:before {
    border-width: 0 0 37px 16px;
    left: -16px;
  }

  .mainHead h2:after {
    border-width: 36px 19px 0 0;
    right: -19px;
  }
}

@media only screen and (max-width: 655px) {
  .mainHead h2 {
    font-size: 1.3em;
  }

  .mainHead h2:before {
    border-width: 0 0 33px 16px;
  }

  .mainHead h2:after {
    border-width: 32px 19px 0 0;
  }

  .mainHead h1 {
    font-size: 1em;
  }

  .mainHead h1 span.intro-2a:before {
    border-width: 0px 0 27px 10px;
    top: -23px;
  }

  .mainHead h1 span.intro-2b:after {
    border-width: 27px 14px 0 0;
    top: 23px;
  }

  .mainHead h1 span.intro-2b {
    margin-left: -4px;
  }
}

@media only screen and (max-width: 560px) {
  .mainHead h2 {
    font-size: 1.1em;
  }

  .mainHead h2:before {
    border-width: 0 0 30px 16px;
  }

  .mainHead h2:after {
    border-width: 29px 19px 0 0;
  }

  .mainHead h1 {
    font-size: .8em;
  }

  .mainHead h1 span.intro-2a:before {
    border-width: 0px 0 24px 10px;
    top: -19px;
  }

  .mainHead h1 span.intro-2b:after {
    border-width: 24px 14px 0 0;
    top: 20px;
  }
}

@media only screen and (max-width: 510px) {
  .mainHead h2 {
    font-size: 1em;
  }

  .mainHead h2:before {
    border-width: 0 0 28px 16px;
  }

  .mainHead h2:after {
    border-width: 27px 19px 0 0;
  }
}

@media only screen and (max-width: 465px) {
  .mainHead h2,
  .mainHead .typed-effect {
    display: table;
  }

  .mainHead h2 {
    font-size: 1.5em;
    padding-top: 5px;
  }

  .mainHead h2:before {
    border-width: 0 0 68px 16px;
  }

  .mainHead h2:after {
    border-width: 68px 19px 0 0;
  }

  .mainHead h1 {
    font-size: 1.3em;
  }

  .mainHead h1 span {
    display: table;
  }

  .mainHead h1 span.intro-2a:before {
    border-width: 0px 0 31px 10px;
    top: -27px;
  }

  .mainHead h1 span.intro-2b:after {
    border-width: 31px 14px 0 0;
    top: 27px;
  }
}

@media only screen and (max-width: 400px) {
  .mainHead {
    left: 20px;
  }

  .mainHead h2 {
    font-size: 1.3em;
  }

  .mainHead h2:before {
    border-width: 0 0 60px 16px;
  }

  .mainHead h2:after {
    border-width: 60px 19px 0 0;
  }
}

@media only screen and (max-width: 360px) {
  .mainHead h2 {
    font-size: 1.1em;
  }

  .mainHead h2:before {
    border-width: 0 0 54px 16px;
  }

  .mainHead h2:after {
    border-width: 54px 19px 0 0;
  }

  .mainHead h1 {
    font-size: 1.1em;
  }

  .mainHead h1 span.intro-2a:before {
    border-width: 0px 0 29px 10px;
    top: -25px;
  }

  .mainHead h1 span.intro-2b:after {
    border-width: 29px 14px 0 0;
    top: 25px;
  }
}






