/**
 ******************************************************
 ******************************************************
 * {LESS} :: COMMON :: (upplication, 2016)
 ******************************************************
  *****************************************************
 */

@import "_variables.less";
@import "_mixins.less";


/* ... GENERAL FONTS ... */

html,
body {
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  background: @white;
}

/* ... ANIMATIONS ... */

body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.hover-anim,
.hover-anim li {
  -webkit-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

/* ... TRANSFORMS ... */

.skew-right {
  -webkit-transform: skew(0deg, -3deg);
  -ms-transform: skew(0deg, -3deg);
  transform: skew(0deg, -3deg);
}

.skew-left {
  -webkit-transform: skew(0deg, 3deg);
  -ms-transform: skew(0deg, 3deg);
  transform: skew(0deg, 3deg);
}

/* ... to CENTER Blocks ... */

.centered {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* ... to CENTER Images ... */

.centerImg img {
  .centered;
}

/* ... to add an Ellipsis ... */

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ... TEXT SELECTED COLOR ... */

/* Safari */
::selection {
  background: @main-green;
}

/* Firefox */
::-moz-selection {
  background: @main-green;
}

/* ... MAIN HEADERS (SECTIONS) ... */

.headTitles,
h4.headTitles,
h2.headTitles {
  color: @darkest-lilac;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 500;
  margin: 1em 0;
  padding: 0 0 0.5em 0;
  
  span {
    color: @medium-lilac;
  }
}

h4:not(.head-terms).headTitles + p,
.plans-head p {
  color: @medium-lilac;
  line-height: 1em;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
  font-size: 1.2em;
}

.headTitles.noMargBot {
  margin-bottom: 0;
}

/* ... PADDING ... */

.sect100 {
  padding: 100px 0;
}

.padTop50 {
  padding-top: 50px;
}

.padTop30 {
  padding-top: 30px;
}

.padBot10 {
  padding-bottom: 10px;
}

.padBot30 {
  padding-bottom: 30px;
}

.padBot50 {
  padding-bottom: 50px;
}

/* ... MARGIN ... */

.margTop30 {
  margin-top: 30px;
}

.marBot50 {
  margin-bottom: 50px;
}

.marBot10 {
  margin-bottom: 10px;
}

.marBot100 {
  margin-bottom: 100px;
}

/* ... UPP MAIN BUTTON ... */

a.btn-upp,
button.btn-upp {
  background-color: @accept-btn;
  color: @white;
  border-radius: 0;
}

a.btn-upp:hover,
button.btn-upp:hover {
  background-color: @accept-btn-hover;
  color: @white;
}

/* ... FONT WEIGHTS ... */

.strong500 {
  font-weight: 500 !important;
}

/* ... BORDERS ... */

.display-none {
  display: none;
}

.border-bottom {
  border-bottom: 1px solid @bg-lilac-light;
}

/* ... BORDER DIV ... */

.spacer-border-grey {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid @bg-lilac-light;
}

/* ... THREE CARDS LAYOUT to video, text or img ... */

// Used in "Home" (index) & "About Us" (Team) pages
.about-grids {
  margin-top: 1.5em;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  background: @bg-lilac-light;

  &.row {
    .col {
      padding: 0;
    }
  }

  .about-grid {

    // TEXT area
    .about-grid-info {
      padding: 2.3em 2.5em;

      h4 {
        font-family: "Lato", sans-serif;
        margin: 0 0 2em 0;
        padding: 0 0 0.5em 0;
        font-size: 1.3em;
        font-weight: 400;
        letter-spacing: 0.03em;
        text-decoration: none;

        span {
          font-weight: 600;
        }
      }

      p {
        font-size: 18px;
        line-height: 25px;
        font-weight: 400;
        text-align: justify;
      }
    }

    // PICs & VIDEO areas
    .about-grid-pic {
      img {
        width: 100%;
      }
    }

    // Backgrounds Colors
    &.about-grid1 {
      background: @main-green;

      .about-grid-info {
        p,
        h4 {
          color: @white;
        }
        h4 {
          border-bottom: 1px solid @white;
        }
      }
    }
    .about-grid2 {
      background: @bg-lilac-light;

      .about-grid-info {
        p,
        h4 {
          color: @darkest-lilac;
        }
        h4 {
          border-bottom: 1px solid @darkest-lilac;
        }
      }
    }
  }
}

/* ... Media Queries :: Three Cards video-image layout :: WIDTH */

@media only screen and (max-width : 801px) {
  #team .about-grids .col.m4.about-grid,
  .row .col.m4 {
    width: 100% !important;
  }
}

/* ... Media Queries :: Three Cards video-image layout :: HEIGHT */

@media only screen and (max-height: 667px) {
  #about {
    padding-top: 0;
  }
}

/* ... DIAGONAL BLOCK LAYOUT to Home & Microlandings views ... */

.dippah {
  position: relative;
  bottom: 47px;
  z-index: 100;
  width: 100%;
  height: 90px;
  background-color: white;
}


/* ... (external) ... */

@import "../home/home.less";
@import "../help-center/help-center.less";
@import "../offer/offer.less";






