/*
    MICROSITES CSS: Custom Stylesheet --- CSS MICROSITES: Hojas de estilo personalizadas

Upplication (http://www.upplication.com)
Copyright 2016
*/

/* ... COMMON :: general classes ... */

/* for animations hover effect */

.animate-hover {
  -webkit-transition: all 150ms ease-in;
  -ms-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}

/* for All Blue Buttons */

.btn-blue {
  background-color: #3fa4d7;
}

.btn-blue:hover {
  background-color: #247fad;
}

/* for All Green Buttons */

.btn-green {
  background-color: #00c86b;
}

.btn-green:hover {
  background-color: #00e386;
}

/* for resert all paddings */

.no-padd {
  padding: 0 !important;
}

/* ... HEADER :: TOP MAIN ... */

.top-header {
  background-color: rgba(255,255,255,.99) !important;
}

a.no-events {
  pointer-events: none;
}

/* ... MAIN TITLE & SUBTITLE ... */

.mainHead {
  color: #fff;
  position: absolute;
  z-index: 200;
  top: 75px;
  left: 10%;
  width: 70%;
  text-shadow: 1px 1px 1px #000;
}

.mainHead h1 {
  font-size: 2.6em;
  font-weight: 600;
  background: rgba(0,0,0,.7);
  display: inline-block;
  line-height: 1.1em;
  padding-left: 10px;
  padding-right: 0;
  position: relative;
}

.mainHead h1:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 45px 10px;
  border-color: transparent transparent rgba(0,0,0,.7) transparent;
  position: absolute;
  left: -10px;
}

.mainHead h1:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 45px 28px 0 0;
  border-color: rgba(0,0,0,.7) transparent transparent transparent;
  position: absolute;
  right: -28px;
  top: 0;
}

.mainHead h1,
.mainHead .typed-effect,
.mainHead h1 .typed-effect span {
  display: inline-block;
}

.mainHead h1 span {
  color: #00c86b;
  font-weight: 600;
  padding-right: 5px;
}

.mainHead h2 {
  font-size: 1.6em;
  font-weight: 500;
}

.mainHead h2 span {
  background-color: rgba(0,0,0,.7);
  display: table;
  padding: 5px;
  margin: 10px 0;
}

.mainHead h2 span.intro-2b {
  margin-left: -6px;
}

.mainHead h2 span.intro-2a:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 38px 10px;
  border-color: transparent transparent rgba(0,0,0,.7) transparent;
  position: relative;
  left: -15px;
  top: -34px;
}

.mainHead h2 span.intro-2b:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 39px 14px 0 0;
  border-color: rgba(0,0,0,.7) transparent transparent transparent;
  position: relative;
  right: -19px;
  top: 35px;
}

/* ... REGISTER FORM :: Home Section ... */

.formPhone img {
  width: 290px;
  height: auto;
}

.formPhone {
  background-color: rgba(255,255,255,.9);
  position: absolute;
  z-index: 200;
  top: 168px;
  right: 7%;
  padding: 0;
  max-width: 400px;
  min-width: 300px;
}

.registerTop {
  margin-left: 0rem;
  margin-right: 0rem;
  margin-bottom: 0;
}

.formRegister {
  padding: 20px !important;
}

.formRegister .input-field label {
  color: #686e85;
}

.registerTop .input-field {
  margin-top: 5px;
}

.registerTop .input-field:first-child {
  margin-top: 10px;
}

.registerTop span.accepTerms {
  font-size: 12px;
  display: inline-block;
  padding: 10px 0 0 0;
  text-align: left;
}

.registerTop .btnReg {
  text-align: center;
}

.registerTop .btnReg button.btn-upp {
  width: 100%;
}

.registerTop .btnReg p {
  margin-top: 10px;
  font-weight: 500;
  color: #222;
  font-size: 13px;
}

.registerTop .btnReg p a {
  font-weight: 600;
}

.registerTop .btnReg p a:hover {
  color: #009550;
  /* Verde Medio */
}

.registerTop .btnReg a {
  margin-bottom: 20px;
}

.registerTop .btnReg span,
#host .btn-upp span {
  font-weight: 500;
  letter-spacing: 0.04em;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: rgb(255, 255, 255) !important;
}

a.terms-conditions {
  padding-left: 5px;
}

/* Call to Action :: MOBILE ONLY */

.formPhone-mobile a {
  padding: 1em .5em !important;
  color: #ffffff;
  font-weight: 500 !important;
  letter-spacing: .05em;
}

/* ... INTRO ................................................... */

.dippah {
  position: relative;
  bottom: 45px;
  z-index: 100;
  width: 100%;
  height: 90px;
  background-color: white;
}

/* ... INTRO IMAGE ................................................... */

.banner {
  background: url(../img/bg/bgDesktop.jpg) no-repeat 0px 0px;
  background-size: cover;
  min-height: 580px;
  position: relative;
  top: 60px;
}

.banner h1 {
  font-family: 'Roboto Slab', serif;
  color: #FFF;
  font-size: 3em;
  margin: 0 0 0.5em;
  padding: 0;
}

.banner h2 {
  font-family: 'Raleway', sans-serif;
  color: #FFF;
  font-weight: 400;
  font-size: 1.5em;
  margin: 0.4em 0 0 0;
  padding: 0;
}

.banner-info {
  margin-top: 5em;
}

.banner-info img {
  margin: 3em 0;
}

/* ... FEATURES (three sentences under the main slider like "WHY" in Home page) ......... */

.features {
  /*background:url(../img/phone-bg.jpg) no-repeat 0px 0px;*/
  background-size: cover;
  padding: 3em 0 5em 0;
}

.features-head {
  padding-bottom: 4em;
}

.features-head h3 {
  font-weight: bold;
  font-size: 2.5em;
  color: #2d2d2d;
  margin: 0;
  padding: 0.2em 0;
}

.features-head span {
  color: #2d2d2d;
  font-weight: normal;
  font-size: 1.2em;
}

.features-grid {
  padding: 0 20px;
}

.features-grid span.f-icon1 {
  background-position: -298px 0px;
}

.features-grid span.f-icon2 {
  background-position: -597px 0px;
}

.features-grid span.f-icon3 {
  background-position: -898px 0px;
}

.features-grid i {
  color: rgba(180,186,210,.5);
  font-size: 8em;
}

.features-grid h3 {
  font-family: 'Lato', serif;
  color: #686e85;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 30px;
  margin-top: -30px;
}

.features-grid h3 strong {
  color: #b4bad2;
  font-size: 1.2em;
  letter-spacing: 0.015em;
  display: block;
  padding-bottom: 10px;
}

.features-grid p {
  color: #2d2d2d;
  line-height: 1.5em;
  margin-top: 1.3em;
}

.pricing-plan-right {
  margin-top: 1.5em;
}

/* ... MEET US (bg pic & info data) ......... */

.meet-us .meet-us-paragraph .row {
  padding-top: 50%;
  margin-bottom: 0;
}

.meet-us .meet-us-paragraph h4,
.meet-us .meet-us-paragraph p,
.meet-us .meet-us-paragraph a:not(.btn-call) {
  font-family: 'Lato', serif;
  line-height: 28px;
}

.meet-us .meet-us-paragraph h4 {
  color: #b4bad2;
  font-size: 1.4em;
  font-weight: 600;
  margin-top: 0;
}

.meet-us .meet-us-paragraph p,
.meet-us .meet-us-paragraph a:not(.btn-call) {
  color: #686e85;
  font-size: 1.1em;
  font-weight: 400;
  padding-bottom: 10px;
}

.meet-us .meet-us-paragraph a:hover {
  color: #b4bad2;
}

.meet-us .meet-us-paragraph a.btn-call {
  padding: 10px;
  width: 100%;
  display: block;
  background-color: #3fa4d7;
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  letter-spacing: .02em;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.meet-us .meet-us-paragraph a.btn-call i,
.meet-us .meet-us-contact i {
  padding-right: 8px;
}

.meet-us .meet-us-contact i {
  color: #b4bad2;
}

.meet-us .meet-us-contact i.icon.icon-mail {
  font-size: 22px;
  position: relative;
  top: 5px;
}

/* --- CLIENTS --- */

#clients .abc {
  background-image: url("img/clients/abc.png");
}

#clients img {
  opacity: .5;
}

#clients img:hover {
  opacity: 1;
}

.center-img {
  margin-top: 20px;
  position: relative;
  width: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.icon-block h5 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.icon-block h5 strong {
  font-weight: 700;
}

.icon-block i {
  color: #101010;
}

.icon-block i:first-child {
  opacity: .5;
}

.icon-block i.i-green,
.icon-block span.i-green {
  color: #00ca6b;
}

.icon-block span.i-green {
  font-weight: 700;
}

.icon-block i:last-child {
  position: relative;
  font-size: 60px;
}

.icon-block i.icon-user {
  top: 10px;
  right: 15px;
}

.icon-block i.icon-checkmark {
  top: 10px;
  right: 15px;
}

.uppSlider {
  height: 600px !important;
}

@media (max-height: 960px) {
  .uppSlider {
    height: 660px !important;
  }
}

@media (max-height: 860px) {
  .uppSlider {
    height: 560px !important;
  }
}

/* ... FOOTER (single one!) ......... */

.footer-copyright {
  min-height: 100px;
  width: 100%;
  display: block;
  font-weight: 300;
  background-color: #2c2f39 !important;
}

.footer-copyright .container {
  padding-top: 10px;
}

.footer-copyright span {
  color: #00ca6b !important;
}

.footer-copyright span i {
  padding-right: 5px;
}

.footer-copyright em {
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: .01em;
  font-family: "Lato",sans-serif;
  color: rgba(255,255,255,0.8);
}

.footer-copyright i.icon-dot {
  font-size: 8px;
  padding: 0 10px;
  position: relative;
  bottom: 1px;
  color: #ffffff;
}

/* ... MODALS (reserts) ......... */

#allContact.modal {
  max-height: 215px !important;
}

.modal-content .contact-social {
  display: none;
}

/* ... MEDIA QUERIES :: responsive design and mobile devices behaviour ......... */

@media all and (max-width: 1575px) {
  .meet-us .meet-us-paragraph .meet-us-details {
    width: 80%;
  }
}

@media all and (max-width: 1280px) {
  .meet-us .meet-us-paragraph .meet-us-details {
    width: 90%;
  }
}

@media all and (max-width: 1180px) {
  .meet-us .meet-us-paragraph .meet-us-details {
    width: 100%;
  }
}

@media all and (max-width: 991px) {
  .meet-us .meet-us-paragraph .row {
    padding-top: 5%;
  }

  .footer-copyright .container {
    text-align: center;
  }
}

@media (min-width: 425px) and (max-width: 991px) {
  .meet-us .meet-us-paragraph {
    padding-left: 30px;
    padding-right: 20px;
  }
}

@media all and (max-width: 768px) {
  .features-grid i {
    position: relative;
    left: 45px;
  }
}

@media all and (max-width: 600px) {
  .meet-us .meet-us-paragraph a:not(.btn-call) {
    display: block;
    margin-top: 30px;
  }

  .meet-us .meet-us-paragraph a.meet-us-email {
    text-align: center;
  }
}

@media all and (max-width: 465px) {
  .mainHead h1 {
    line-height: 1.2em;
  }

  .footer-copyright i:not(.fa-copyright) {
    display: none;
  }

  .footer-copyright em {
    display: block;
  }
}

@media all and (max-width: 425px) {
  .features-grid i {
    left: 25px;
  }
}