extends base/base

block vars
    - var template = $.apps._template
    - var title = $.apps._meta_title
    - var description = $.apps._meta_description

block content
    #apps.content
        | Apps