footer
    ul
        li
            a(href="") Manifiesto
        li
            a(href="") Equipo
        li
            a(href="") Empleo
        li
            a(href="") ¿Quieres ser partner?
        li
            a(href="") Tutorial
        li
            a(href="") Te ayudano
        li
            a(href="") Preguntas frecuentes
        li
            a(href="") Media
        li
            a(href="") Condiciones legales
    hr
    ul
        li
            a(href="") RSS
        li
            a(href="") Linkedin
        li
            a(href="") Facebook
        li
            a(href="") Twitter
        li
            a(href="") Blog
        li
            a(href="") Instagram

    hr
    p.padding-bottom-2x.acenter.big
        | Upplication 2014 <br>
        | Designed and assembled in Madrid
