div
    footer
    
        ul
            li 
                span Compañía
                ul
                    li
                        a(href="") Manifiesto
                    li
                        a(href="") Equipo
                    li
                        a(href="") Empleo
                    li
                        a(href="") Condiciones legales
                    li
                        a(href="") Colaboradores
            li 
                span Comunidad
                ul
                    li
                        a(href="") Preguntas frecuentes
                    li
                        a(href="") Vídeo tutoriales
                    li
                        a(href="") Creamos la app por ti
            li 
                span Medios y redes
                ul
                    li
                        a(href="") Media
                    li
                        a(href="") Blog
                    li
                        a(href="") Youtube
                    li
                        a(href="") Twitter
                    li
                        a(href="") Linkedin
                    li
                        a(href="") RSS
                    li
                        a(href="") Facebook
                    li
                        a(href="") Instagram

        hr
        p.padding-bottom-2x.acenter.big.sign
            | Upplication 2014 <br>
            | Designed and assembled in Madrid
