
header.padding-top
    a.logo.acenter.block.margin-bottom(href='#{$.home._url}')
        img(src="/images/upplication.png")
    span.icon-list
    nav.main-menu
        ul.uppercase
            include header-links

        ul#change-lang
            li(data-lang="en_EN")
                a(href="/build-your-app") ENG
            li(data-lang="es_ES")
                a(href="/") ES


