script(type='text/javascript').
    var iOS = /(iPad|iPhone|iPod)/g.test(navigator.userAgent);

    if (iOS) {
        window.location.href = 'http://market.upplication.com/openfuture/openfuture.html';
    } else {
        window.location.href = 'https://play.google.com/store/apps/details?id=org.openfuture.mwc';
    }
