extends base

block vars
    - var template = $.prices._template
    - var title = $.prices._meta_title
    - var description = $.prices._meta_description

block content
    #prices
        p.col1 #{$.prices.title}!
        p.col2 #{template}! co2
        p.col3 co3
        p.col4 co4
        p.col5 co5
        p.col6 co6
        p.col7 co7
        p.col8 co8
