extends base/base

block vars
    - var template = $.prices._template
    - var title = $.prices._meta_title
    - var description = $.prices._meta_description
    - var keywords = $.prices._keywords
    - var canonical = $.prices._canonical
    - var cssClass = 'prices'

block content
    section#plans.bottom-space.darky
        include pricing-plans-content

    section#all-plans-include.bottom-space
        div.container
            h2 #{$.prices.all_plans_include.title}

            ul.plans-features
                each feature in prices.all_plans_include.list
                    li
                        span(class="#{feature.icon}")
                        span !{feature.text}
