//- script(type='text/javascript').
//- var langs = JSON.stringify(langs)

script(type='text/javascript').
    var base = window.location.origin.split("//")[1];
    document.write('<base href="//' + base  + '" />');

