extends base/base
block vars
    - var template = $.showcase._template
    - var title = $.showcase._meta_title
    - var description = $.showcase._meta_description
    - var keywords = $.showcase._keywords
    - var canonical = $.showcase._canonical
    - var cssClass = 'showcase'

block content
    include showcase_content
