extend wingu/base/base
block vars
    - var title = wingu_terms._meta_title
    - var description = wingu_terms._meta_description
    - var keywords = wingu_terms._keywords
    - var cssClass = 'terms'
block content
    section
        .col.s12.center-align
            .about.scrollspy
                .container
                    .terms-grid.about-left-grids
                        h4.headTitles Términos y condiciones
                        h5 Aviso legal
                        p En cumplimiento con el deber de información recogido en el artículo 10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico, le informamos que la URL www.winguapps.com (en adelante el PORTAL) es un dominio propiedad de UPPLICATION SOFTWARE TECHNOLOGIES, S.L. (en adelante la ENTIDAD), con domicilio en la Calle Quintana 2, 28008 Madrid (Madrid), con C.I.F. nº B86569654.
                        p Todas las marcas, nombres comerciales o signos distintivos de cualquier clase que aparecen en el PORTAL son propiedad de la ENTIDAD o de terceros, sin que pueda entenderse que el uso o acceso al sitio y/o a los servicios, atribuya al usuario derecho alguno sobre las citadas marcas, nombres comerciales y/o signos distintivos.
                        p Asimismo, los contenidos publicados en la web, su diseño gráfico, imágenes, bases de datos y código fuente son propiedad intelectual de la ENTIDAD o de terceros, sin que puedan entenderse cedidos al usuario, en virtud de lo establecido en este Aviso Legal, ninguno de los derechos de explotación que existen o puedan existir sobre dichos contenidos más allá de lo estrictamente necesario para el correcto uso del PORTAL y de los servicios que se prestan a través de él.
                        p El acceso a este website es responsabilidad exclusiva de los usuarios. El simple acceso al PORTAL no supone entablar ningún tipo de relación de carácter comercial entre la ENTIDAD y el usuario. Accediendo a él acepta los términos y condiciones descritos en el PORTAL.

                        h5 Condiciones de uso de la página web.
                        h5 <b>1.- Introducción</b>
                        p El presente documento establece las condiciones por las que se rige el uso de este portal (en adelante, las "Condiciones").
                        p Para poder acceder a este portal, usted previamente ha tenido que contratar con Vodafone alguno de los productos ofrecidos en su web. Una vez contratado uno de los productos, y aceptada la política de privacidad correspondiente, se le facilitarán unas claves de acceso a winguapps. com, portal a través del que podrá gestionar los servicios contratados.
                        p Al utilizar este portal usted consiente en quedar vinculado por estas Condiciones, por lo que si no está usted de acuerdo con las mismas, no debe continuar utilizando este portal.
                        p Estas Condiciones podrían ser modificadas, y en caso de que suceda se lo comunicaremos lo antes posible y procederemos a modificarlas en el portal, por eso le rogamos que permanezca atento a cualquier modificación.

                        h5 2.- Protección de datos
                        p Le informamos que la información o datos personales que nos facilite serán tratados con arreglo a la legislación vigente Reglamento de la Unión Europea 2016/679 de Protección de datos y Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos y Garantía de los Derechos Digitales. Los datos de carácter personal que nos facilite usted en el marco de la relación contractual serán tratados por Upplication Software Technologies, S.L. para las finalidades que se indican en nuestra política de privacidad.

                        h5 3.- Uso de nuestra portal web
                        p Al acceder a nuestro portal web, usted declara que:
                        p a) Conocer que la Entidad únicamente da soporte tecnológico a Vodafone para los productos que usted ha contratado con Vodafone. Por lo tanto en este portal web usted únicamente podrá operar los productos contratados, pero en ningún caso podrá contratar nuevos productos, cancelar o modificar los ya contratados.
                        p b) Hará uso de esta página web únicamente para realizar operar los productos contratados a través de vodafone.
                        p c) A utilizar los productos con fines ajustados a la Ley y cumpliendo con los requisitos que, en su caso, la Ley exija, así como con lealtad y buena fe frente a terceros.
                        p d) Se compromete respetar las garantías, normas y procedimientos previstos en el ordenamiento jurídico aplicable. .

                        h5 PRECIO
                        p Para la utilización de este portal web usted previamente ha contratado uno de los servicios Wingu del market place de Vodafone España S.A.U. Por lo tanto, la utilización de este portal se entiende dentro de las funcionalidades de los servicios Wingu y no tendrá que pagar ninguna cantidad extraordinaria.
                        p En caso de incumplimiento por su parte de cualquier obligación de pago, total o parcialmente, Vodafone España, S.A.U.  podrá resolver el contrato de forma inmediata y por lo tanto dejará de tener acceso a este portal..

                        h5 EXONERACIÓN DE RESPONSABILIDAD
                        p Debido a la naturaleza abierta de esta web y debido a que las funcionalidades que se ofrecen consisten en aplicaciones electrónicas que se distribuyen a través de las redes generales de comunicación, existe la posibilidad de que se produzcan errores en el almacenaje y transmisión de información digital, así como riesgos de ataques o alteraciones fraudulentas por parte de terceros. En consecuencia, no podemos garantizar la precisión y seguridad de la información transmitida u obtenida tanto por medio de esta página web como la que se suministre para dar cumplimiento a los Contratos que Vd. pueda celebrar.
                        p Con el alcance que permita la ley, excluimos todas las garantías, salvo aquéllas que no puedan ser legítimamente excluidas frente a los consumidores y usuarios.

                        h5 PROPIEDAD INTELECTUAL  E INDUSTRIAL
                        p Los contenido de este portal contienen software original cuyo autor es UPPLICATION SOFTWARE TECHNOLOGIES, S.L., a los efectos del art. 96 del Real Decreto Legislativo 1/1996 que aprueba la Ley de Propiedad Intelectual. También gozan de dicha protección las versiones sucesivas y los programas derivados, así como la documentación técnica y los manuales e instrucciones de uso de los distintos productos.
                        p Usted podrá hacer uso de dicho material únicamente en la forma en que se lo autoricemos expresamente nosotros y en ningún caso está autorizado a considerarse licenciatario ni a divulgarlo ni a transmitirlo a terceros. Tampoco está autorizado a reproducirlo, ni total ni parcialmente, ni aún de forma transitoria, ni a introducir ninguna modificación distinta a las que estén previstas en el propio producto de forma ordinaria.
                        p También se le informa que todos los signos distintivos, iconos y logotipos que Vd. puede ver en la página web, o que se le suministren si Vd. suscribe un contrato, están protegidos por la legislación española sobre patentes y marcas y Vd. no tiene autorización para hacer uso de ellos bajo ningún concepto.

                        h5 LINKS DESDE NUESTRA PÁGINA WEB
                        p En el caso de que nuestra página web contenga links o enlaces a otras páginas web y materiales de terceros, dichos links se facilitan únicamente a efectos informativos, sin que nosotros tengamos control alguno sobre el contenido de dichas páginas web o materiales. Por lo tanto, no aceptamos responsabilidad alguna por cualquier daño, perjuicio o pérdida derivados de su uso.

                        h5 VIRUS, PIRATERÍA Y OTROS ATAQUES INFORMÁTICOS
                        p Aunque contamos con importantes medidas de seguridad, debemos advertirle de que no seremos responsables de cualquier daño o pérdida resultante de un ataque de denegación de servicio, virus o cualquier otro programa o material tecnológicamente perjudicial o dañino que pueda afectar a su ordenador, equipo informático, datos o materiales como consecuencia del uso de este portal o de la descarga de contenidos de la misma o a los que la misma redireccione.
                        p Usted no debe realizar un uso indebido de esta página web mediante la introducción intencionada en la misma de virus, troyanos, gusanos, bombas lógicas o cualquier otro programa o material tecnológicamente perjudicial, dañino o que altere el contenido, bien modificándolo, bien redireccionándolo. Usted no tratará de tener acceso no autorizado a esta página web, al servidor en que dicha página se encuentra alojada o a cualquier servidor, ordenador o base de datos relacionada con nuestra página web o con las empresas que subcontratemos. Vd. se compromete a no atacar esta página web a través de un ataque de denegación de servicio o de un ataque de denegación de servicio distribuido.
                        p El incumplimiento de esta cláusula podría llevar aparejada la comisión de infracciones tipificadas por la normativa aplicable. Informaremos de cualquier incumplimiento de dicha normativa a las autoridades competentes y cooperaremos con ellas para descubrir la identidad del atacante. Asimismo, en caso de incumpla o intente incumplir la presente cláusula, dejará inmediatamente de estar autorizado a usar esta página web. Asimismo, en estos casos será responsable de todos los daños y perjuicios de naturaleza económica o de cualquier otra naturaleza que pudiera causar.

                        h5 OTROS ACONTECIMIENTOS FUERA DE NUESTRO CONTROL
                        p No seremos responsables por ningún daño cuya causa se deba a acontecimientos que están fuera de nuestro control razonable ("Causa de Fuerza Mayor").
                        p Las Causas de Fuerza Mayor incluirán cualquier acto, acontecimiento, falta de ejercicio, omisión o accidente que, entre otros y sin carácter limitativo, se enumeran a continuación:
                        p a) Huelgas, cierres patronales u otras medidas reivindicativas.
                        p b) Rebelión, invasión, ataque terrorista o amenaza terrorista, guerra (declarada o no) o amenaza o preparativos de guerra.
                        p c) Incendio, explosión, tormenta, inundación, terremoto, hundimiento, epidemia o cualquier otro desastre natural o causado por el hombre, con culpa o accidentalmente.
                        p d) Imposibilidad o dificultad grave de utilizar sistemas públicos o privados de telecomunicaciones y de almacenamiento y tratamiento de datos.
                        p e) Actos, decretos, legislación, normativa o restricciones de cualquier gobierno o autoridad pública.

                        h5 EFECTOS DE LA EXTINCIÓN DEL SERVICIO WINGU:
                        p a) Cuando se extinga el contrato que usted tiene con Vodafone España, S.A.U. por cualquier causa, incluyendo el vencimiento, el incumplimiento del Cliente, Fuerza Mayor o cualquier otro motivo, Upplication interrumpirá la conexión del Cliente con su sistema.
                        p b) Todos los datos e informaciones, tanto del Cliente como de sus contactos (clientes propios o particulares), que hayan quedado almacenados en los sistemas de Upplication o de las empresas con las que haya subcontratado a consecuencia de los servicios prestados, serán destruidos salvo en los casos previstos por la Ley.
                        p c) Ninguna de las partes tendrá acción de reclamación frente a la otra como consecuencia de la resolución del contrato.

                        h5 NULIDAD PARCIAL
                        p Si alguna de las presentes Condiciones fuesen declaradas nulas y / o sin efecto por resolución firme o de carácter cautelar por parte de una autoridad competente, los restantes términos y condiciones permanecerán en vigor, sin que queden afectados por dicha declaración de nulidad.

                        h5 LEGISLACIÓN APLICABLE Y JURISDICCIÓN
                        p Estos términos y condiciones se regirán por la legislación española.
                        p Cualquier controversia que surja o guarde relación con la interpretación de las mismas será sometida a la jurisdicción de los juzgados y tribunales de Madrid capital, España.

                        h5 ATENCIÓN AL CLIENTE
                        p Estamos disponibles para solucionar cualquier duda o problema de Lunes a Jueves de 10:00h a 18:00h y Viernes de 10:00h a 15:00h. En verano el horario será Lunes a Viernes de 09:00h a 15:00h, hora en España, en el teléfono 910 005 90 22 (coste de la llamada variará en función del operador ajustándose a la tarifa ordinaria nacional), en el Chat on-line al navegar por el portal o en el siguiente e-mail soporte.vodafone@winguapps.com.

                        h5 SOPORTE TÉCNICO
                        p Si tienes problemas o dudas de índole técnica, acude a la sección de: Preguntas Frecuentes (FAQ’s) de nuestra web. También puedes escribirnos un email a soporte.vodafone@winguapps.com o llamarnos por teléfono al número 910 005 90 22 (coste de la llamada variará en función del operador ajustándose a la tarifa ordinaria nacional) de Lunes a Jueves de 10:00h a 18:00h y Viernes de 10:00h a 15:00h. En verano el horario será Lunes a Viernes de 09:00h a 15:00h. Hora en España.

                        h5 CANCELACIÓN DEL SERVICIO
                        p El Cliente podrá darse de baja cuando lo estime oportuno, eliminando su app desde el panel de control de Vodafone (Vodafone España, S.A.U) o llamando al centro de atención al cliente de la operadora.

                        h5 Política de privacidad
                        p
                            span IDENTIDAD Y DATOS DE CONTACTO DEL RESPONSABLE
                            |  El Encargado del tratamiento de los datos personales del Usuario es UPPLICATION SOFTWARE TECHNOLOGIES, S.L., (en adelante “la Entidad”) con domicilio social en C/ Quintana 2, 2ª planta, 28008, Madrid y CIF B-86569654. Si tiene cualquier duda en materia de protección de datos, puede contactar con la Entidad a través de la dirección gdpr@upplication.com

                        p
                            span FINALIDADES, BASES JURÍDICAS DEL TRATAMIENTO Y PLAZOS DE CONSERVACIÓN
                            |  Los datos de carácter personal recabados a través del portal, así como aquellos facilitados por Vodafone España, S.A.U. serán tratados por la Entidad, que ostenta la condición de Encargado del tratamiento, para las finalidades que se indican a continuación. Asimismo, le indicamos por qué motivo es lícito que tratemos sus datos y durante cuánto tiempo los conservaremos.

                        p
                            span DATOS SOBRE LOS QUE HAREMOS UN TRATAMIENTO, FINALIDAD Y PLAZO DE CONSERVACIÓN.
                            |  Con objeto de prestar los servicios contratados con Vodafone y para usted pueda tener acceso a las funcionalidades del portal trataremos los siguientes datos.
                            ul
                                li El número de identificación fiscal del cliente/usuario.
                                li Nombre y Apellidos del comercial distribuidor y datos de contacto del mismo.
                                li Plan de precios de los servicios Wingu contratado por el usuario.
                                li Datos de contacto del cliente.
                            | La base para poder tratar los datos citados anteriormente es el consentimiento del usuario al contratar con un plan Wingu. Y la relación contractual que Upplication Software Technologies, S.L. tiene con Vodafone España, S.A.U para prestar un servicio de soporte técnico.
                            | La finalidad para la que utilizaremos los datos no es otra que la de poder desarrollar el contrato que Upplication Software Technologies, S.L. tiene con Vodafone España, S.A.U. en relación a los servicios Wingu.
                            | Del mismo modo, la Entidad puede procesar sus datos para enviar comunicaciones informativas relacionadas con la actividad, las ofertas, los eventos y los servicios futuros de la Entidad.
                            | La Entidad solicitará el consentimiento previo de los usuarios cada vez que sus datos se utilicen para un fin diferente al que se proporcionó o solicitó.
                            | Upplication Software Technologies, S.L. conservará los datos del Usuario durante cinco años desde que finalice la relación contractual con Vodafone España, S.A.U. o cuando el usuario solicite su eliminación.

                        p
                            span DERECHOS DE LOS USUARIOS:
                            |  Usted puede ejercitar los derechos que se detallan a continuación ante la Entidad a través del correo electrónico gdpr@upplication.com o bien a la dirección postal de UPPLICATION SOFTWARE TECHNOLOGIES, S.L, con domicilio social en Calle Quintana 2, 2ª planta, C.P. 28008 Madrid y CIF B-86569654, a la atención del departamento Legal. La solicitud deberá contener copia de su DNI u otro documento identificativo equivalente, así como el contenido mínimo previsto en la normativa aplicable. Si la solicitud no reúne los requisitos especificados, la Entidad podrá requerir su subsanación. No se exigirá contraprestación alguna por el ejercicio de los derechos.
                        p De acuerdo con las disposiciones de GDPR, los contenidos de los derechos a los que los usuarios tienen derecho son los siguientes:
                        ul
                            li · Derecho de acceso: El usuario puede solicitar a LA ENTIDAD que revele qué datos relacionados con él están sujetos a procesamiento por parte de LA ENTIDAD, así como la fuente de la cual se recopilaron los datos y el propósito para el cual se procesan los datos.
                            li · Derecho de rectificación: el Usuario puede solicitar que LA ENTIDAD modifique cualquier dato personal que no esté actualizado.
                            li · Derecho a borrar: el Usuario puede solicitar que LA ENTIDAD elimine sus datos personales a menos que existan razones justificadas y válidas que permitan a LA ENTIDAD mantener los datos. El Derecho de Borrado implica un período en el que los datos personales permanecerán bloqueados para cumplir con cualquier obligación legal que pueda surgir antes de su eliminación definitiva.
                            li · Derecho de objeción: el Usuario puede objetar ante LA ENTIDAD el uso de sus datos personales para ciertos fines.
                            li · Derecho a restringir el procesamiento: el Usuario puede solicitar a LA ENTIDAD que resalte que sus datos personales están restringidos a los propósitos específicos que el Usuario aceptó.
                            li · Derecho a la portabilidad de datos: el Usuario puede solicitar a LA ENTIDAD que le proporcione la información que LA ENTIDAD posee en un formato compatible con computadoras interoperable.
                            li · Derecho a presentar una queja ante la autoridad supervisora pertinente: en caso de desacuerdo con la forma en que LA ENTIDAD recopila y procesa los datos personales o ha atendido solicitudes para ejercer los derechos del usuario, los usuarios pueden presentar una queja ante la autoridad supervisora (Agencia Española de Protección de Datos).
                        p LA ENTIDAD cumplirá con cualquier solicitud de derecho del Usuario dentro de un período máximo de 30 días desde que se ejercitaron los derechos. LA ENTIDAD informa que este período podría extenderse hasta un máximo de 90 días con una justificación válida.
                        p En caso de no obtener satisfacción en el ejercicio de sus derechos, podrá presentar una reclamación ante la autoridad de control en materia de protección de datos, la Agencia Española de Protección de Datos, cuya página web es: http://www.agpd.es

                        h5 DESTINATARIOS DE LOS DATOS PERSONALES

                        p Sus datos personales no serán cedidos a otras personas o empresas para ser utilizados para sus propios fines. No obstante, algunas entidades subcontratadas por la Entidad podrían acceder a los datos personales e información para ayudar a la Entidad en la gestión del sitio web y la prestación de los servicios ofrecidos en el sitio web. La Entidad se asegura de que todas estas entidades cumplan con la normativa de protección de datos, que también les resulta directamente aplicable. Asimismo, la Entidad revelará a las autoridades públicas competentes los datos personales y cualquier otra información que esté en su poder o sea accesible a través de sus sistemas y sea requerida de conformidad con las disposiciones legales y reglamentarias aplicables al caso.
                        p
                            span MEDIDAS DE SEGURIDAD
                            |  La Entidad tratará sus datos personales de manera absolutamente confidencial. Asimismo, ha implantado medidas técnicas y organizativas adecuadas para garantizar la seguridad de sus datos personales y evitar su destrucción, pérdida, acceso ilícito o alteración ilícita. A la hora de determinar estas medidas, se han tenido en cuenta criterios como el alcance, el contexto y los fines del tratamiento; el estado de la técnica y los riesgos existentes.
                        p La Entidad se compromete a:
                        p a)	Asegurarse de que ha adaptado todos sus procesos de tratamiento de datos y la estructura de la compañía a los requerimientos impuestos por el Reglamento UE 2016/679 y que cumple en su totalidad con el marco legislativo. La Compañía cuenta con un procedimiento de tratamiento de datos de carácter personal cumplimiento obligatorio por todos sus empleados. Y en el caso de que haya posibles encargados del tratamiento, estos han de firmar un compromiso de cumplimiento de las medidas de seguridad oportunas de conformidad con lo dispuesto por GDPR.
                        p b)	La Entidad acuerda no enviar ningún dato personal a ningún encargado del tratamiento con los que tenga un contrato firmado más allá de los propósitos establecidos en los citados contratos.
                        p c)	Aceptar las medidas técnicas y organizativas provistas como adecuadas al objeto de asegurar la seguridad de los interesados.
                        p d)	Realizar una evaluación del impacto en la protección de datos personales de las operaciones de tratamiento a realizar por los posibles encargados del tratamiento (si hubiese).
                        p e)	Velar, de forma previa y durante todo el tratamiento, por el cumplimiento del RGPD por parte de los posibles subencargados del tratamiento.
                        p f)	Facilitar la realización de inspecciones y auditorías por parte del responsable del tratamiento de datos.

                        h5 POLÍTICA DE COOKIES
                        p UPPLICATION SOFTWARE TECHNOLOGIES S.L (En adelante UPPLICATION) utiliza cookies dentro sus sitios web (www.winguapps.com, y cualquier subdominio perteneciente al mismo) para ofrecer el sitio web más eficaz posible a nuestros clientes. Entre otras cosas, las cookies permiten recordar las preferencias y el uso de determinadas herramientas y secciones de nuestra web. Esta Política de Cookies explica qué son las cookies, cómo las usamos y cómo te beneficiarán. Como posiblemente sepas, la reciente legislación exige que los sitios web obtengan el consentimiento de los visitantes para utilizar ciertas cookies.
                        p UPPLICATION hace uso de las cookies con el objetivo de poder medir el comportamiento de los usuarios tanto en nuestra web (www.winguapps.com) como en cualquier subdominio, como bien se ha mencionado anteriormente. Gracias a la analítica somos capaces de optimizar la experiencia de nuestro usuario dentro de la herramienta.
                        p Los datos obtenidos son sacados gracias al software Google Analitycs. Este gestor trata los datos obtenidos y UPPLICATION solo tiene acceso a los mismos. Estos datos son de carácter confidencial y nunca se cederán a otra empresa. Sólo se tratarán a nivel interno y estarán vigilados bajo los niveles de seguridad que establece la ley.
                        p Las cookies son pequeños archivos de texto que se instalan en el navegador del ordenador del usuario para registrar su actividad, enviando una identificación anónima que se almacena en el mismo. Se pueden utilizar también para medir la audiencia, parámetros del tráfico y navegación, tiempo de sesión, y/o controlar el progreso y el número de entradas.
                        p No obstante lo anterior, deberá tenerse en cuenta que, de conformidad con la legislación española, se entenderá que (i) el usuario ha dado su consentimiento si modifica la configuración del navegador deshabilitando las restricciones que impiden la entrada de cookies y (ii) que el referido consentimiento no será preciso para la instalación de aquellas cookies que sean estrictamente necesarias para la prestación de un servicio expresamente solicitado por el usuario.
                        p Tenga en cuenta que para poder utilizar el sitio web es necesario que tenga habilitadas las cookies, especialmente aquellas de carácter técnico que resultan necesarias para identificarle como Usuario. En particular, le informamos que utilizamos los siguientes tipos de cookies:
                        p
                            span - Cookies técnicas:
                            |  Son aquellas utilizadas por la Entidad que permiten al Usuario la navegación y la utilización de las diferentes opciones o servicios que se ofrecen como, controlar el tráfico y la comunicación de datos, identificar la sesión, acceder a partes de acceso restringido, recordar los elementos que integran una reserva, , realizar la solicitud de inscripción o participación en un evento, utilizar elementos de seguridad durante la navegación o almacenar, difundir y/o compartir contenidos.
                        p
                            span - Cookies publicitaria:
                            |  Son aquéllas que, bien tratadas por nosotros o por terceros, nos permiten gestionar de la forma más eficaz posible la oferta de los espacios publicitarios que hay en la página web, adecuando el contenido del anuncio al contenido del servicio solicitado o al uso que realice de nuestra página web. Para ello, podemos analizar sus hábitos de navegación en Internet y podemos mostrar al Usuario publicidad relacionada con su perfil de navegación.
                        p
                            table.centered.cookies-table
                                    tbody
                                            tr
                                                td
                                                    strong COOKIE
                                                td
                                                    strong FINALIDAD
                                                td
                                                    strong PROPIAS O DE TERCEROS
                                            tr
                                                td 1p_jar
                                                td Cookie de Google. Estas cookies se usan para recopilar estadísticas del sitio web y rastrear las tasas de conversión
                                                td Google Analitycs
                                            tr
                                                td CONSENT
                                                td
                                                td
                                            tr
                                                td NID
                                                td Visualización de mapas mediante Google Maps
                                                td Google Analitycs
                                            tr
                                                td _zlcmid
                                                td Son cookies utilizadas por la herramienta ZOPIM para permitir chatear en directo con la atención al cliente
                                                td ZOPIM
                                            tr
                                                td _ga
                                                td Google Analytics utiliza esta cookie para almacenar y actualizar un valor único para cada página visitada. La cookie se actualiza cada vez que envía los datos a Google Analytics
                                                td Google Analitycs
                                            tr
                                                td _mfid
                                                td
                                                td
                                            tr
                                                td _omappvp
                                                td Utilizado para determinar si el visitante regresa y ha visitado el sitio web anteriormente.
                                                td OptinMonster
                                            tr
                                                td intercom-id-[XXXXXXXXX]
                                                td Esta cookie es utilizada para que los usuarios puedan continuar un chat mientras se mueven por el sitio.
                                                td Intercom
                                            tr
                                                td mp_e67fdcd786665d5c42c75d84a1c22f49_mixpanel
                                                td Esta cookie es configurada para analizar el tráfico y, en particular, cómo los usuarios llegaron a la plataforma
                                                td MixPanel
                                            tr
                                                td upp_language
                                                td Esta cookie guarda el idioma elegido en la navegación, para que, en la próxima visita, se cargue automáticamente ese idioma y no el que esté por defecto en el dispositivo
                                                td Propia
                        h5 Gestión de las cookies
                        p Tenga en cuenta que puede permitir, bloquear o eliminar todas estas cookies cuando quieras a través de las opciones de configuración de tu dispositivo o terminal, así como de tu navegador de internet:
                        p
                            span Firefox
                            |  Herramientas -> Opciones -> Privacidad -> Historial -> Configuración Personalizada. Para más información, puede consultar el soporte de Mozilla o la Ayuda del navegador.
                        p
                            span Chrome
                            |  Configuración -> Mostrar opciones avanzadas -> Privacidad -> Configuración de contenido. Para más información, puede consultar el soporte de Google o la Ayuda del navegador.
                        p
                            span Safari
                            |  Preferencias -> Seguridad. Para más información, puede consultar el soporte de Apple o la Ayuda del navegador.
                        p Recuerde siempre acceder a la información de soporte más actualizada de dichos navegadores para conocer el modo en que puedes eliminar las cookies, dado que el modo puede diferir entre distintas versiones y sistemas operativos.
                        p En el caso de que usted utilice cualquier otro navegador de Internet, le recomendamos que consulte las distintas opciones de gestión de cookies que pudiesen encontrarse disponibles en el mismo en cada momento.