/*
MODALS - ALERTS - SLIDER CSS: Custom Stylesheet --- CSS GENERALES: Hojas de estilo personalizadas

Upplication (http://www.upplication.com)
Copyright 2015
*/

/* ... Headers (H) ................................................... */

/* ... MODALS ................................................... */

#materialize-lean-overlay-2 {
  opacity: 0.85;
}

a.modal-action.modal-close {
  float: right;
  padding-top: 10px;
  color: #aaa;
  padding-right: 23px;
}

a.modal-action.modal-close:hover {
  color: #333;
}

#pruebaGratis.modal {
  max-height: 495px;
  overflow-y: auto;
}

#pruebaGratis .modal-content {
  border: 0 solid transparent;
  border-radius: 0 !important;
  box-shadow: 0 0 0 rgba(0,0,0,0) !important;
  overflow-x: hidden;
}

#pruebaGratis .modal-content h2 {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  line-height: 35px;
  padding-left: 10px;
}

#pruebaGratis .modal-content h2 span {
  font-weight: 500;
  color: #00ca6b;
  /* Verde Pistacho */
}

#pruebaGratis .input-field:last-child a {
  text-align: right;
}

#pruebaGratis .modal-terms {
  padding: 0;
  background-color: #eee;
  text-align: left;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#pruebaGratis .modal-terms ul {
  margin-bottom: 0;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
}

#pruebaGratis .modal-terms ul li {
  display: inline;
  font-size: 14px;
  font-weight: 500;
}

#pruebaGratis .modal-terms ul li a {
  font-weight: 600;
}

#pruebaGratis .modal-terms ul li a:hover {
  color: #009550;
  /* Verde Medio */
}

#pruebaGratis .input-field,
#pruebaGratis form {
  padding: 0;
}

.input-field .prefix ~ label {
  margin-left: 3rem;
  margin-top: -5px;
}

.input-field .prefix ~ label.active {
  text-align: left;
}

#pruebaGratis .error.general-error,
#pruebaGratis p.error {
  width: 98%;
}

#pruebaGratis p.error {
  right: 25px;
}

@media only screen and (max-width: 850px) {
  #pruebaGratis .modal-footer ul {
    padding-top: 7px;
  }
}

/* ... ALERTS ................................................... */

.alert {
  padding: 0;
  margin: 20px 0;
  border: 0 solid transparent;
  border-radius: 0;
}

.alert-info {
  color: #31708f;
  font-weight: 500;
  background-color: #d9edf7;
}

.alert span {
  font-weight: 600;
}

.alert i {
  padding: 15px 20px;
  background-color: #cbe6f4;
  margin-right: 10px;
}

/* ... SLIDER ................................................... */

.slider,
.slides {
  height: 600px !important;
}

.slider.middle-page-slider,
.slider.middle-page-slider .slides {
  height: 400px !important;
}

.mainHead {
  color: #fff;
  position: absolute;
  z-index: 200;
  top: 10%;
  left: 10%;
  width: 70%;
  text-shadow: 1px 1px 1px #000;
}

.mainHead h1 {
  font-size: 2.4em;
  font-weight: 600;
}

.mainHead h1 span {
  color: #00c86b;
  font-weight: 600;
  padding-right: 5px;
}

.mainHead h2 {
  font-size: 1.4em;
  font-weight: 500;
}

.parallax-container {
  height: 300px;
}

/* ... Typed slider PlugIn ................................................... */

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ... HEADER Languages DROPDOWN ................................................... */

ul#dropdown-lang {
  margin-top: 47px;
  margin-left: -4px;
  background-color: #faf9f9;
  border: 1px solid #cccccc;
  border-top: none;
}

ul#dropdown-lang a {
  text-align: left;
  padding-left: 18px;
}

@media only screen and (max-width: 768px) {
  ul#dropdown-lang {
    margin-left: 0;
    border: none;
  }

  ul#dropdown-lang a {
    text-align: center;
    padding-left: 18px;
  }
}